mixin modal-video
    #modal-media-video.uk-flex-top.modal-video(data-uk-modal='')
        .uk-modal-dialog.uk-width-1-1.uk-height-1-1.uk-margin-auto-vertical
            button.uk-modal-close-outside(type='button' data-uk-close='')
            iframe(src='https://www.youtube-nocookie.com/embed/c2pz2mlSfXA' data-uk-video='').uk-width-1-1.uk-height-1-1