mixin form-signup
    div
        h2 Sign up for exclusive Pricing
        p Be the ‘first’ to receive exclusive pricing as and when they are released
        form(method="post")
            div(data-uk-grid)
                div(class="uk-width-1-3@s")
                    input.uk-input(type="email" name="email" placeholder="Email Address")
                div(class="uk-width-1-3@s")
                    input.uk-input(type="text" name="name" placeholder="Name")
                div(class="uk-width-1-3@s")
                    input.uk-input(type="tel" name="tel" placeholder="Phone Number")
                div(class="uk-width-1-3@s")
                div(class="uk-width-1-3@s uk-flex uk-flex-center")
                    button.uk-button.uk-button-primary(type="submit" name="submit") Submit
                div(class="uk-width-1-3@s")


