mixin share-this()
    section.share-this(data-uk-scrollspy="cls: fadeInLeft animated slow; repeat: false;")
        .container.container--small
            .share-this__wrap
                h4 Share this

                ul.social.social--share-this
                    li.social__item
                        a(href="#" rel="noopener noreferrer").social__link
                            span(data-uk-icon="social-fb").social__icon
                    li.social__item
                        a(href="#" rel="noopener noreferrer").social__link
                            span(data-uk-icon="social-twitter").social__icon