.applicant-tracking {

  .section__image {
    height: calc(100vw * 260 / 393);
    margin-bottom: 35px;

    @media (min-width: 1024px) {
      height: calc(100vw * 970 / 2488);
      margin-bottom: 0;
    }
  }

  .section__image-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;

    @media (min-width: 1024px) {
      align-items: center;
      width: 100%;
      height: calc(100vw * 688 / 2488);
      max-height: 688px;

      &:hover {
        .applicant-tracking {
          &__icon {
            transform: translateY(-100%) scale(1);
            opacity: 1;

            &--candidates {
              transform: translateY(0%);
            }

            &--great-candidate {
              transform: translate(-137%, 0);
            }

            &--similar-candidates {
              transform: translate(27%, 0);
            }
          }
        }
      }
    }
  }

  &__icon {
    position: absolute;
    bottom: 0;
    opacity: 0;
    z-index: 2;
    transform: scale(0.5);
    transform-origin: bottom;

    @media (min-width: 1024px) {
      transition-property: opacity, transform;
      transition-duration: 0.7s;
      transition-timing-function: ease;
    }

    &--candidates {
      height: calc(100vw * 241 / 393);
      position: static;
      opacity: 1;
      z-index: 1;
      transform: scale(1);

      @media (min-width: 1024px) {
        height: 100%;
      }

      img {
        height: 100%;
        width: auto;
      }
    }

    &--great-candidate,
    &--similar-candidates {
      bottom: auto;
      left: 50%;
      transform: translateX(-50%) scale(1);
      z-index: 1;
    }

    &--great-candidate {
      width: 24%;
      top: 34%;

      @media (min-width: 1024px) {
        width: 22%;
        top: 29%;
      }
    }

    &--similar-candidates {
      width: 25%;
      top: 35%;

      @media (min-width: 1024px) {
        width: 23%;
        top: 30%;
      }
    }

    &--smart-recruiters {
      width: 16%;
      left: 8%;
      z-index: 10;

      img {
        margin-top: 185%;
      }

      @media (min-width: 1024px) {
        width: 14%;
        left: 13%;

        img {
          margin-top: 193%;
        }
      }
    }

    &--teamtailor {
      width: 15%;
      left: 16%;
      z-index: 8;

      img {
        margin-top: 55%;
      }

      @media (min-width: 1024px) {
        width: 14%;
        left: 19%;

        img {
          margin-top: 48%;
        }
      }
    }

    &--at {
      width: 20%;
      left: 17%;
      z-index: 9;

      img {
        margin-top: 179%;
      }

      @media (min-width: 1024px) {
        width: 18%;
        left: 21%;

        img {
          margin-top: 176%;
        }
      }
    }

    &--vacancy-poster {
      width: 17%;
      left: 22%;

      img {
        margin-top: -29%;
      }

      @media (min-width: 1024px) {
        width: 15%;
        left: 26%;

        img {
          margin-top: -28%;
        }
      }
    }

    &--jobvite {
      width: 13%;
      left: 51%;
      z-index: 7;

      img {
        margin-top: 396%;
      }

      @media (min-width: 1024px) {
        width: 11%;

        img {
          margin-top: 427%;
        }
      }
    }

    &--hand {
      width: 18%;
      left: 59%;

      img {
        margin-top: 200%;
      }

      @media (min-width: 1024px) {
        width: 16%;
      }
    }

    &--bullhorn {
      width: 15%;
      left: 67%;

      img {
        margin-top: -47%;
      }

      @media (min-width: 1024px) {
        width: 13%;
        left: 65%;

        img {
          margin-top: -45%;
        }
      }
    }

    &--broadbean {
      width: 23%;
      left: 76%;

      img {
        margin-top: 74%;
      }

      @media (min-width: 1024px) {
        width: 20%;
        left: 74%;

        img {
          margin-top: 81%;
        }
      }
    }
  }
}