.employer-brand {

  .section__image {
    margin-bottom: 35px;
  }

  .section__image-wrap {

    @media (min-width: 1024px) {
      &:hover {
        .employer-brand {
          &__icon {
            opacity: 1;

            &--meat {
              transform: translate(-50%, -50%);
            }

            &--building-society {
              transform: translateY(-102%);
            }
          }
        }
      }
    }
  }

  &__icon {
    &.animate-icon {
      position: absolute;
      top: 50%;
      opacity: 0;
      transform: translateY(-50%);

      @media (min-width: 1024px) {
        transition-property: transform, opacity;
        transition-duration: .7s;
        transition-timing-function: ease;
      }
    }

    &--meat {
      width: 26%;
      left: 20%;
    }

    &--building-society {
      width: 25%;
      left: 55%;
    }
  }
}