.page-nav-container {
  position: relative;
  width: calc(100% + 72px);
  padding-bottom: 78px;
  margin-left: -72px;
  display: none;

  @media (min-width: 1600px) {
    display: block;
  }

  @media (min-width: 1920px) {
    padding-bottom: 118px;
  }
}

.page-nav {
  position: absolute;
  top: 0;
  right: 0;
  left: 72px;
  padding: 15px 0;
  background-color: $color-grey;
  z-index: 11;

  @media (min-width: 1600px) {
    &__wrapper {
      ul {
        display: flex;
        justify-content: space-between;
        margin-bottom: 0;

        li {
          margin-bottom: 0;
          line-height: 22px;

          button {
            position: relative;
            font-weight: 700;
            font-size: 13px;
            line-height: 22px;
            text-transform: uppercase;
            padding: 13px 0;
            transition: text-shadow 0.4s ease;

            &:focus-visible,
            &:focus {
              outline: none;
            }

            &::after {
              content: "";
              position: absolute;
              bottom: 0px;
              left: 0;
              width: 100%;
              height: 6px;
              background-color: $color-secondary;
              transform: scaleX(0);
              transform-origin: left;
              transition: transform 0.4s ease;
            }

            &:hover {
              text-shadow: 0px 0px 1px $color-primary;
              &::after {
                transform: scaleX(1);
              }
            }
          }
        }
      }
    }
  }

  @media (min-width: 1920px) {
    padding: 35px 0;

    &__wrapper {
      ul {
        li {
          button {
            font-size: 16px;
          }
        }
      }
    }
  }

  @media (min-width: 2488px) {
    &__wrapper {
      ul {
        li {
          button {
            font-size: 18px;
          }
        }
      }
    }
  }
}
