.services-page {
  .section {
    padding: 40px 0;

    @media (min-width: 1024px) {
      padding: 0;
    }

    h2 {
      @media (min-width: 1024px) {
        width: 100%;
        max-width: 748px;
        grid-area: title;
        justify-self: center;
        margin-bottom: 35px;
        grid-row: 2;
        padding-right: 50px;
        margin-top: 30px;
      }

      @media (min-width: 1920px) {
        padding-right: 0;
      }
    }

    &__content {
      @media (min-width: 1024px) {
        display: grid;
        grid-template-areas:
          "title image"
          "desc image"
          "button image";
        grid-template-columns: 1fr calc(50% - 8px);
        justify-items: flex-start;
        padding-left: 0;
      }
    }

    &__description {
      @media (min-width: 1024px) {
        grid-area: desc;
        grid-row: 3;
        max-width: 748px;
        justify-self: center;
        padding-right: 50px;
      }

      @media (min-width: 1920px) {
        margin-bottom: 25px;
        padding-right: 0;
      }
    }

    &__btn-wrap {
      @media (min-width: 1024px) {
        grid-area: button;
        grid-row: 4;
        max-width: 748px;
        width: 100%;
        justify-self: center;
        margin-bottom: 30px;
      }
    }

    &__image {

      @media (min-width: 1024px) {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        background-color: $color-light-grey;
        max-height: 970px;
        grid-area: image;
        grid-row: 1 / 6;
        width: 100%;
        margin-bottom: 0;
      }
    }

    &__image-wrap {
      position: relative;
    }

    &--reversed {
      background-color: $color-light-grey;

      @media (min-width: 1024px) {
        background-color: $color-white;
      }

      .section__content {
        @media (min-width: 1024px) {
          display: grid;
          grid-template-areas:
            "image title"
            "image desc"
            "image button";
          grid-template-columns: calc(50% - 8px) 1fr;
          justify-items: flex-start;
          padding-left: 0;
        }
      }

      h2 {
        @media (min-width: 1024px) {
          padding-right: 0;
          padding-left: 50px;
        }

        @media (min-width: 1920px) {
          padding-left: 0;
        }
      }

      .section__description {
        @media (min-width: 1024px) {
          padding-left: 50px;
        }

        @media (min-width: 1920px) {
          padding-left: 0;
        }
      }

      .section__btn-wrap {
        @media (min-width: 1024px) {
          padding-left: 50px;
        }

        @media (min-width: 1920px) {
          padding-left: 0;
        }
      }
    }
  }
}