.social-media {
  .section__image {
    height: calc(100vw * 267 / 393);
    margin-bottom: 36px;

    @media (min-width: 1024px) {
      align-items: flex-start;
      padding: 34px 0 0 15px;
      height: calc(100vw * 970 / 2488);
      margin-bottom: 0;
    }
  }

  &__sky-service,
  &__gaucho-ig,
  &__icon {
    position: absolute;
    opacity: 0;

    @media (min-width: 1024px) {
      transition-property: opacity, transform;
      transition-duration: 0.7s;
      transition-timing-function: ease;
    }
  }

  &__sky-service,
  &__gaucho-ig {
    left: 50%;
    width: 28%;
    transform: translateX(-50%);

    @media (min-width: 1024px) {
      width: 26%;
    }
  }

  &__sky-service {
    bottom: 13%;
  }

  &__gaucho-ig {
    top: 8%;
  }

  &__icon {
    bottom: 0;

    &--twitch-like {
      left: 33%;
      width: 17%;

      @media (min-width: 1024px) {
        left: 30%;
      }

      img {
        margin-top: 270%;

        @media (min-width: 1024px) {
          margin-top: 250%;
        }
      }
    }

    &--facebook {
      left: 11%;
      width: 10%;

      @media (min-width: 1024px) {
        left: 9%;
      }

      img {
        margin-top: 88%;

        @media (min-width: 1024px) {
          margin-top: 83%;
        }
      }
    }

    &--facebook-like {
      left: 14%;
      width: 4%;

      @media (min-width: 1024px) {
        left: 11%;
      }

      img {
        margin-top: 730%;

        @media (min-width: 1024px) {
          margin-top: 700%;
        }
      }
    }

    &--tiktok {
      left: 24%;
      width: 4%;

      @media (min-width: 1024px) {
        left: 21%;
      }

      img {
        margin-top: 100%;
      }
    }

    &--tiktok-like {
      left: 27%;
      width: 8%;

      @media (min-width: 1024px) {
        left: 24%;
      }

      img {
        margin-top: -37%;
      }
    }

    &--twitter {
      left: 33%;
      width: 4%;

      @media (min-width: 1024px) {
        left: 30%;
      }

      img {
        margin-top: 1210%;

        @media (min-width: 1024px) {
          margin-top: 1155%;
        }
      }
    }

    &--linkedin-like {
      left: 75%;
      width: 11%;

      @media (min-width: 1024px) {
        left: 70%;
      }

      img {
        margin-top: 547%;

        @media (min-width: 1024px) {
          margin-top: 518%;
        }
      }
    }

    &--instagram {
      left: 89%;
      width: 11%;

      @media (min-width: 1024px) {
        left: 83%;
        width: 10%;
      }

      img {
        margin-top: 295%;

        @media (min-width: 1024px) {
          margin-top: 315%;
        }
      }
    }

    &--instagram-like {
      left: 90%;
      width: 3%;

      @media (min-width: 1024px) {
        left: 84%;
      }

      img {
        margin-top: 1635%;

        @media (min-width: 1024px) {
          margin-top: 1555%;
        }
      }
    }

    &--gost-like {
      left: 79%;
      width: 15%;

      @media (min-width: 1024px) {
        left: 74%;
      }

      img {
        margin-top: -27%;

        @media (min-width: 1024px) {
          margin-top: -32%;
        }
      }
    }
  }

  .section__image-wrap {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 100%;

    @media (min-width: 1024px) {
      padding-top: 10%;
      padding-bottom: 5px;
      align-items: center;
      height: calc(100vw * 802 / 2488);
      max-height: 802px;
      width: 100%;

      &:hover {
        .social-media {
          &__gaucho-ig,
          &__sky-service {
            opacity: 1;
          }

          &__gaucho-ig {
            transform: translateX(33%);
          }

          &__sky-service {
            transform: translateX(-139%);
          }

          &__icon {
            transform: translateY(-100%);
            opacity: 1;
          }
        }
      }
    }
  }

  &__iphone {
    height: calc(100vw * 229 / 393);
    width: auto;

    @media (min-width: 1024px) {
      height: 100%;
    }
  }
}
