.talent-brand {

  h2 {
    margin-bottom: 0;
  }

  .section__image {
    height: calc(100vw * 300 / 393);
    display: flex;
    align-items: center;
    justify-content: center;

    &--desk {
      display: none;
    }
  }

  .section__image-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;

    @media (min-width: 1024px) {

      &:hover {
        .talent-brand__icon {

          &--polaroid-1 {
            transform: rotate(2deg) scale(1.1);
          }

          &--polaroid-2 {
            transform: translate(15%, 9%) rotate(-2deg) scale(1.1);
          }

          &--polaroid-3 {
            transform: translate(-115%, -3%) rotate(-2deg) scale(1.1);
          }
        }
      }
    }
  }

  &__icon {
    height: 100%;
    width: calc(100vw * 150 / 393);

    @media (min-width: 768px) {
      width: calc(100vw * 270 / 768);
    }

    @media (min-width: 1024px) {
      width: calc(100vw * 404 / 2488);
      max-width: 404px;
      transition: transform .7s ease;
    }

    img {
      width: auto;
      height: 100%;
    }

    &--polaroid-3,
    &--polaroid-2 {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: -1;
    }
  }
}