.container {
    padding: 0 $global-offset-container-mobile;
    width: 100%;
    margin: 0 auto;

    @include tablet {
        padding: 0 $global-offset-container-tablet;
    }

    @include desktop {
        max-width: 1170px + ($global-offset-container-tablet * 2);
    }
}