mixin call-our-team
    .call-our-team
        p Call our team
        a(href="tel:01752822864") 01752 822864

mixin call-our-team-prices
    .call-our-team.call-our-team--prices
        p Call our team
        a(href="tel:01752822864")
            span(class="uk-visible@s") 01752 822864
        a(data-uk-icon="menu-back" data-uk-close).uk-modal-close-default