.table {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 20px;
}

.table__cell {
  width: 50%;
  padding: 42px;
  text-align: center;
  border-right: 1px solid $color-white;
  border-top: 1px solid $color-white;

  @include laptop {
    width: 25%;
  }

  &:nth-child(1),
  &:nth-child(2),
  &:nth-child(3),
  &:nth-child(4) {
    border-top: 1px solid $color-white;

    @include laptop {
      border-top: 0;
    }
  }

  &:nth-child(3),
  &:nth-child(4) {
    border-top: 1px solid $color-white;

    @include laptop {
      border-top: 0;
    }
  }

  &:nth-child(1),
  &:nth-child(2) {
    border-top: 0;
  }

  &:nth-child(2n + 1) {
    border-left: 0;

    @include laptop {
      border-left: 0;
    }
  }

  &:nth-child(2n) {
    border-right: 0;

    @include laptop {
      border-right: 1px solid $color-white;
    }
  }

  &:nth-child(4n + 1) {
    border-left: 0;
  }

  &:nth-child(4n) {
    @include laptop {
      border-right: 0;
    }
  }
}

.table__cell a {
  text-decoration: none;
  color: $color-white;
  font-family: $font-primary;
  line-height: 16px;
  font-size: 14px;

  @include laptop {
    line-height: 20px;
    font-size: 20px;
  }
}

.table__cell:last-child {
  padding: 36px;
  background-color: rgba(31, 63, 104, 0.2);

  @include laptop {
    padding: 56px 40px 40px;
  }
}
