@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-fill-mode: both;
  animation-duration: 3s;
}

.fadeOut {
  animation-name: fadeOut;
  animation-fill-mode: both;
  animation-duration: 3s;
}
