.feedback {
  &.section {
    padding-bottom: 70px;

    @media (min-width: 992px) {
      padding-bottom: 0;
    }
  }

  @media (min-width: 992px) {
    margin-bottom: -100px;
  }

  @include desktop {
    margin-bottom: -166px;
  }

  .greeting {
    margin-bottom: 50px;
  }

  h1 {
    color: $color-black;
    margin-bottom: 30px;

    @include desktop {
      margin-bottom: 100px;
    }
  }

  p {
    line-height: 30px;
    line-height: 1.7;
    color: $color-black;

    &:last-child {
      margin-bottom: 50px;
    }

    @media (min-width: 992px) {
      text-align: left;
    }
  }

  .input {
    margin-bottom: 20px;
  }

  .textarea {
    margin-bottom: 30px;

    @include tablet {
      min-height: 211px;
    }
  }

  .button {
    @media (min-width: 992px) {
      display: block;
      font-size: 26px;
      line-height: 30px;
      letter-spacing: 0;
      padding: 0;
      margin: 0;
      margin-left: auto;
      min-height: auto;
      width: auto;
      background-color: transparent;
      color: $color-white;
      border: none;
      border-radius: 0;
      border-bottom: 2px solid $color-white;
      transition-property: border-color, color;

      &:focus,
      &:hover,
      &:active {
        color: $color-primary;
        border-color: $color-primary;
      }
    }
  }
}
