.services {
  &.section {
    padding-top: 132px;
    padding-bottom: 70px;

    @include desktop {
      padding-top: 245px;
      padding-bottom: 150px;
    }
  }

  .greeting {
    @include desktop-sm {
      margin-bottom: 38px;
    }
    @include desktop {
      margin-bottom: 60px;
    }
  }

  &__wrapper {
    padding: 40px;
    background-color: rgba($color-white, 0.05);

    @include desktop-sm {
      padding: 128px 4px 90px 100px;
    }
    @include desktop {
      padding: 85px 128px;
    }
  }

  h2 {
    margin-bottom: 40px;
    color: $color-white;

    @include tablet {
      margin-bottom: 0;
    }

    @include desktop {
      font-size: 40px !important;
      line-height: 44px;
    }
    span {
      color: $color-primary;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    gap: 20px;

    a {
      font-size: 20px;
      line-height: 23px;
      color: $color-white;
      text-decoration-color: transparent;
      text-underline-offset: 5px;

      &:hover,
      &:active {
        color: $color-primary;
        text-decoration-color: $color-primary;
      }
      @include desktop {
        font-size: 26px;
        line-height: 30px;
      }
    }
  }

  &--contact {
    &.section {
      padding-top: 50px;
      padding-bottom: 60px;

      @media (min-width: 992px) {
        padding-top: 145px;
      }
    }

    .services__wrapper {
      @include desktop {
        padding: 70px 138px;
      }
    }

    h2 {
      margin-bottom: 0;
    }
  }
}

.services__wrapper-text {
  display: flex;
  flex-direction: column;

  @include laptop {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  @include desktop-sm {
    align-items: flex-start;
  }
}

.services__wrapper-text .animate__fadeInLeft {
  width: 100%;
  @include laptop {
    width: 53%;
  }
}

.services__links {
  margin-right: 5%;
  margin-top: 6%;

  @include laptop {
    margin-right: 12%;
    margin-top: -5%;
  }
  @include desktop-sm {
    margin-right: 12%;
    margin-top: -10%;
  }

  @include desktop {
    margin-right: 5%;
    margin-top: -8%;
  }
}

.services__links a {
  font-size: 22px;
  line-height: 32px;
}

.services .scriible {
  @include desktop-sm {
    padding: 10px 16px !important;
  }

  @include desktop {
    padding: 12px 24px;
  }
}
