+b.mapbox
    +e.map

    +e.list.js-mapbox-scroll
        +roles-map([{
            name: 'Ascot Grange',
            location: 'Ascot',
            quantity: '7 roles available'
        }, {
            name: 'Cliveden Manor',
            location: 'Marlow',
            quantity: '14 roles available'
        }, {
            name: 'Coombe Hill Manor',
            location: 'Kingston',
            quantity: '2 roles available'
        }, {
            name: 'Ascot Grange',
            location: 'Ascot',
            quantity: '7 roles available'
        }, {
            name: 'Cliveden Manor',
            location: 'Marlow',
            quantity: '14 roles available'
        }, {
            name: 'Coombe Hill Manor',
            location: 'Kingston',
            quantity: '2 roles available'
        }, {
            name: 'Ascot Grange',
            location: 'Ascot',
            quantity: '7 roles available'
        }, {
            name: 'Cliveden Manor',
            location: 'Marlow',
            quantity: '14 roles available'
        }, {
            name: 'Coombe Hill Manor',
            location: 'Kingston',
            quantity: '2 roles available'
        }])