+b.register
    .container
        +e.inner-wrap
            +e.text
                | Not seen a role you’re interested in? Register your CV today.

            +e.button
                +button('a', 'Register cv').--gray-theme



