@mixin button-hover() {
    position: relative;
    transition-duration: $transition-duration;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 0;
        z-index: 1;
        opacity: 0;
        transition-duration: $transition-duration;
    }

    &:hover:before,
    &:focus:before,
    &:active:before {
        opacity: 1;
        height: 100%;
    }

    span {
        z-index: 1;
        position: relative;
    }
}

@mixin button-primary-hover() {
    &:before {
        background-color: $color-white-global;
        transition-duration: $transition-duration;
    }

    &:hover,
    &:focus,
    &:active {
        background-color: $color-white-global;
        border-color: $color-primary;
        color: $color-primary;
        transition-duration: $transition-duration;
    }
}

@mixin button-secondary-hover() {
    &:before {
        background-color: $button-secondary-bg-hover;
        transition-duration: $transition-duration;
    }

    &:hover,
    &:focus,
    &:active {
        color: $color-white-global;
        transition-duration: $transition-duration;
    }
}

.button {
    @include button-hover;
}

.button-primary {
    @include button-primary-hover;
}

.button-secondary {
    @include button-secondary-hover;
}