mixin social
    ul.social(class!=attributes.class)
        li.social__item
            a(href="#" target="_blank" rel="noopener noreferrer").social__link
                span(data-uk-icon="social-fb").social__icon
        li.social__item
            a(href="#" target="_blank" rel="noopener noreferrer").social__link
                span(data-uk-icon="social-twitter").social__icon
        li.social__item
            a(href="#" target="_blank" rel="noopener noreferrer").social__link
                span(data-uk-icon="social-inst").social__icon
        li.social__item
            a(href="#" target="_blank" rel="noopener noreferrer").social__link
                span(data-uk-icon="social-pinterest").social__icon