extends pug/base

prepend vars
  //-
  - title = 'Homepage'

append vars
  //-
  - pageList = true 

block content
  main.main 
    .section
      .container
        br
        a(href="home.html").h3 Homepage
        br
        a(href="product.html").h3 Product (FLEXSTAR PB LED)
        br
        a(href="product-single.html").h3 Product Single (FLEXSTAR CLONE LED)
        br
        a(href="meet.html").h3 Meet Flexstar
        br
        a(href="contact-us.html").h3 Contact us
        br
        br
        h3.h3 Project info 
        p Flexstar Front-end boilerplate (Pug, Scss, jQuery 3.5.1)
        div Third party plugins:
        div <a href="https://swiperjs.com/">Swiper</a>
        br
        h3.h3 Project setup
        p $ yarn or npm i
        p $ gulp build