extends pug/base

prepend vars
  //-
  - title = 'Meet Flexstar'

append vars
  //-

block content
  main.main
    include ./pug/section-scroll.pug
    section.section.section-intro.section-bg
      .container 
        h1.h1 Meet Flexstar
    section.section.section-meet
      .container
        .section-meet-header
          .section-meet-intro
            span.icon-letter-f.icon-f
          .section-meet-intro-text
            h3.h3 WHO WE ARE
            p Founded in 2009, FLEXSTAR has been committed to the development, research, and production of the highest quality of plant lighting systems. We have over 12 years of expereince in the lighting system field. We specialize in producing LED grow lights, HID grow lights, and CMH grow lights. Thanks to our professional R&D team, production equipments and large workshop which brought us good reputation in this field.
    section.section.section-meet-list
      .container
        ul
          li
            span.icon-handshake
            .section-meet-list-detail
              h3.h3 OUR COMMITMENTS
              p FLEXSTAR is committed to delivering the best indoor lighting solutions to our customers. FLEXSTAR allows growers to create ideal lighting conditions across all stages of plant growth for increased vitality, health, and yields.
          li 
            span.icon-factory 
            .section-meet-list-detail
              h3.h3 FACTORY DIRECT
              p Thanks to FLEXSTAR’s direct-from-factory business model, you can get your product at the best price directly from the manufacturer.
          li 
            span.icon-lighting 
            .section-meet-list-detail
              h3.h3 LIGHTING FIRST
              p We at FLEXSTAR are light people and have been for over a decade. Our expertise has led us to develop and manufacture specialized lighting systems for professionals that are unique, reliable, and powerful.
          li 
            span.icon-service
            .section-meet-list-detail
              h3.h3 PROFESSIONALISM
              p With over 12 years of professional service in marketplaces as diverse as from the USA to Canada and across Europe, FLEXSTAR provides the highest quality products with the most reliable service in the industry
          li 
            span.icon-quality
            .section-meet-list-detail
              h3.h3 QUALITY
              p We control our R&D, manufacturing, distribution, and quality assurance process, and with our strict quality control standards we can offer the best products on the market with the most reliable after-sales service.
          li
            span.icon-support
            .section-meet-list-detail
              h3.h3 CUSTOMER SERVICE
              p All of our products come with a warranty, guaranteeing you will be able to receive a replacement within days. We are available every day of the week so feel free to call us and we can answer any questions or concern.
    include ./pug/section-contact-form.pug