+b('footer').footer
    +e.container
        +e.inner
            +e.block.--text
                +e('h2').title Über Steinberger
                +e.content
                    p Hochwertige Speiseöle, gewonnen aus Hanfsamen, Kokos, Leinsamen, Schwarzkümmel und mehr – Naturprodukte in ihrer reinsten Form. Das ist Steinberger.

            +e.block.--text
                +e('h2').title Social media
                +e.content
                    p Du findest uns auch auf 
                        a(href="#" target="_blank" rel="noopener noreferrer") Instagram 
                        |  und 
                        a(href="#" target="_blank" rel="noopener noreferrer") Facebook

            +e.block.--link
                +e('h2').title Informationen
                +e('ul').link-list
                    +e.list-item
                        +e('a')(href="#")
                            | Impressum

                    +e.list-item
                        +e('a')(href="#")
                            | AGB

                    +e.list-item
                        +e('a')(href="#")
                            | Datenschutzerklärung

                    +e.list-item
                        +e('a')(href="#")
                            | Wiederrufsbelehrung

                    +e.list-item
                        +e('a')(href="#")
                            | Liefer- und Versandbedingungen


                    +e.list-item
                        +e('a')(href="#")
                            | Online-Streitbeteiligungsplattform


                    +e.list-item
                        +e('a')(href="#")
                            | Kontakt
        +e.aside
            +e.copyright 
                +e('a')(href="/").storename
                    | © 2020 Steinberger GmbH
