+b('form').form(action="post")
  +e('fieldset').fieldset
    +b.control.--center.--full-width
      +b('input').input(type='text' name='name' placeholder='Dein Name…' required)
    +b.control.--center.--full-width
      +b('input').input(type='text' name='answer' placeholder='Deine Antwort…' required)
    +e.rating
      +b.rate-comment(data-rate-value='0')
    +b.control.--submit
      +b('button').button(type='submit' name='submit') Absenden