+b.ingredients
  h2
    +svg('ingredients')
    span 4 Portionen
  +e('ul').list
    +e('li') <span>250 g</span> Penne oder andere Nudeln
    +e('li') <span>200 g</span> Mozarella
    +e('li') <span>100 g</span> Tomaten, getrocknete in Öl
    +e('li') <span>150 g</span> Parmaschinken
    +e('li') <span>50 g</span> Pinienkerne
    +e('li') <span>1 Zehe</span> Knoblauch
    +e('li') Salz und Pfeffer
    +e('li')
      a(href="#") <span>70 ml</span> Steinberger Bio Olivenöl
    +e('li') <span>3 EL</span> Balsamico
    +e('li') <span>1 TL</span> grünes Pesto
    +e('li') <span>1 TL</span> Senf
    +e('li') <span>1 TL</span> Honig
    +e('li') Parmesan, frisch gerieben
    +e('li') Frischer Rucola