+b('div').recipe-author
  +e('img').photo(src="./images/photo.png" width="70" height="70" alt="recipe author photo")
  +e('div') Rezept von
  +e('h5') Maximiliana Mustermann
  +e('a')(href="rezeptblog.de" target="_blank" rel="noopener noreferrer") rezeptblog.de
  +e.rating
    +b.rate
  +e.reviews 73 Bewertungen
