
mixin recipe()
    +b('article').recipe
        +e.image-wrap
            +e('img').image(src="./images/recipe.jpg", alt="")
        +e.content
            +e('h3').name Pasta mit frischem Rucola, Tomaten und Olivenöl
            +e('p').time Vegetarisch · Gesamtzeit: 40 Minuten
            +e.rate
                +b.rate(data-rate-value='4')
                +e.rate-number 73 Bewertungen

            +e.link
                +button('a', 'Zum Rezept')

            +e.social
                +social()

+b('ul').recipe-list
    +e.item
        +recipe()
    +e.item
        +recipe()
    +e.item
        +recipe()
    +e.item
        +recipe()

    +e.item
        +recipe()
    +e.item
        +recipe()
    +e.item
        +recipe()
    +e.item
        +recipe()

    +e.item
        +recipe()
    +e.item
        +recipe()
    +e.item
        +recipe()
    +e.item
        +recipe()

