+b.section-header
    +e.image-wrap
        +e('img').image(src="./images/recipe-detail.jpg", alt="")

    +e.content
        +e.icon-wrap
            +e('img').icon(src="./images/vegetarian.svg")

        +e('h3').category Vegetarisch

        +e('a').link-back(href="#") 
            +svg('arrow-back')
            | Zurück zur Rezept-übersicht

        +e.name 
            +b('h1') Pasta mit rucola-parmesan-topping Und bio Olivenöl

            +e.arrow-wrap
                +e('a').arrow(href="#")
                    +svg('chevron-left')

                +e('a').arrow(href="#")
                    +svg('chevron-right')
        +e.button
            +button('a', 'pdf ausdrucken')
    +b('a').scroll-to(href="#section-ingredients")
        +svg('chevron-down')


