mixin sidebar-menu-item(nameLink, listSublink)
    +e.collapsible
        +e('a').link(href="#", aria-expanded="false") #{nameLink}
            if(listSublink)
                +e('span').plus
        
        if(listSublink)
            +e.collapsible-inner
                h3 #{nameLink}
                +e.collapsible-content
                    each item in listSublink
                        +e.collapsible
                            +e('a').link(href="#") !{item}

+b('section').sidebar-menu.js-sidebar-secondary(aria-hidden="true")
    +e('header').header
        +e('button').close(type='button')
            +svg('close')

    +e.content
        +e.main
            +e.container
                +e('nav').nav
                    //- +sidebar-menu-item(
                    //-     'Speiseöle',
                    //-     [
                    //-         'Hanfsamenöl<span> Bio</span>',
                    //-         'MCT C8 Öl',
                    //-         'MCT Öl',
                    //-         'Schwarzkümmelöl<span> Bio</span>',
                    //-         'Kürbiskernöl<span> Bio</span>',
                    //-         'Leinöl<span> Bio</span>',
                    //-         'Kokosöl<span> Bio</span>',
                    //-         'Natives Olivenöl<span> Bio</span>'
                    //-     ]
                    //- )

                    //- +sidebar-menu-item(
                    //-     'Gewürze',
                    //-     [
                    //-         'Zimt<span> Bio</span>',
                    //-         'Körniges Rosé Kristall-Salz',
                    //-         'Schwarzer Pfeffer<span> Bio</span>',
                    //-         'Kurkuma Pulver<span> Bio</span>'
                    //-     ]
                    //- )

                    //- +sidebar-menu-item(
                    //-     'Superfoods',
                    //-     [
                    //-         'Hagebuttenpulver<span> Bio</span>',
                    //-         'Hanfsamen<span> Bio</span>',
                    //-         'Sencha Grüntee<span> Bio</span>',
                    //-         'Kakaopulver<span> Bio</span>',
                    //-         'MSM Pulver',
                    //-         'MCT Öl',
                    //-         'MCT C8 Öl',
                    //-         'Dulseflocken<span> Bio</span>',
                    //-         'Macapulver<span> Bio</span>',
                    //-         'Kurkuma Pulver <span> Bio</span>',
                    //-         'Kakao Nibs <span> Bio</span>',
                    //-         'Flohsamenschalen <span> Bio</span>',
                    //-         'Ashwagandha <span> Bio</span>',
                    //-         'Gerstengraspulver<span> Bio</span>',
                    //-         'Spirulina-Pulver <span> Bio</span>',
                    //-         'Erythritol Kristalle'
                    //-     ]
                    //- )
                    
                    //- +sidebar-menu-item(
                    //-     'Tee',
                    //-     [
                    //-         'Matcha Tee Pulver<span> Bio</span>',
                    //-         'Sencha Grüntee<span> Bio</span>',
                    //-     ]
                    //- )

                    //- +sidebar-menu-item(
                    //-     'Ebooks'
                    //- )

                    //- +sidebar-menu-item(
                    //-     'Magazin'
                    //- )

                +e('nav').secondary-nav
                    +e('ul').secondary-list
                        +e.secondary-item
                            +e('a').secondary-link(href="#") Account