
+b('ul').steps
  +e('li').item
    h2 Schritt 01
    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren,
    img(src="./images/step1.jpg" alt="Schritt 01" width="1640" height="290")
  +e('li').item
    h2 Schritt 02
    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
    img(src="./images/step2.jpg" alt="Schritt 02" width="1640" height="290")
  +e('li').item
    h2 Schritt 03
    p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
