footer.footer(data-uk-scrollspy="cls: animate__fadeInUp animate__animated; delay: 500; repeat: false;")
  .container 
    img(src="images/care-dorset-logo-white.svg" alt="care dorset logo white." width="150" height="50")
