header.header
  .container 
    .header__wrap
      .header__logo(data-uk-scrollspy="cls: animate__fadeInLeft animate__animated; repeat: false;")
        img(src="images/care-dorset-logo.svg" alt="Care Dorset logo." width="150" height="50")
      .header-text(data-uk-scrollspy="cls: animate__fadeInRight animate__animated; repeat: false;") We’re Hiring
