section.cards 
  .container 
    .cards-box 
      .cards-column.column-1
        h3 What we do to help our client grow in digital era,
        .card.card-1
          img.card-1-image(src="images/guy-in-blue.png", alt="guy with white box")
          h6.card__title Make Your business To Be Better Famous In Internet
          p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          a(href="").card__link
            span Learn more
            +svg('arrow-right')
      .cards-column.column-2
        .card.card-2
          img.card-2-image(src="images/guy-with-icon.png", alt="guy with icon")
          h6.card__title Bring Technology To Your Comfrotable Home
          p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          a(href="").card__link
            span Learn more
            +svg('arrow-right')
        .card.card-3
          img.card-3-image(src="images/girl-with-notebook.png", alt="girl with notebook")
          h6.card__title Build Your Digital Product That Suitable For Your Need
          p.card__text Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
          a(href="").card__link
            span Learn more
            +svg('arrow-right')