section.section.clients
  .container
    .clients__text-wrap
      .clients__header
        h2.section-title Our Beloved Client
        p.section-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      .client__table.table
        .table__cell
          img(src="https://placekitten.com/143/46" alt="client logo." width="143" height="46")
        .table__cell
          img(src="https://placekitten.com/143/46" alt="client logo." width="143" height="46")
        .table__cell
          img(src="https://placekitten.com/143/46" alt="client logo." width="143" height="46")
        .table__cell
          img(src="https://placekitten.com/143/46" alt="client logo." width="143" height="46")
        .table__cell
          img(src="https://placekitten.com/143/46" alt="client logo." width="143" height="46")
        .table__cell
          img(src="https://placekitten.com/143/46" alt="client logo." width="143" height="46")
        .table__cell
          img(src="https://placekitten.com/143/46" alt="client logo." width="143" height="46")
        .table__cell
          a(href="") More Client 
            


