footer.footer
  .container 
    .footer__team
      .footer__team__text-wrap 
        h3.section-title Interested to work with our team?
        p.section-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
      button.button Let’s Talk
    .footer__bottom
      .footer__contacts 
        .footer__logo-wrap 
          img(src="images/logo-light.png" alt="logo Afrianska." width="48" height="32")
          h4 Afrianska
        ul.footer__contacts-list 
          li 
            p.marker-list A.
            p.footer__contacts-list-text Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          li
            p.marker-list T.
            a(href="tel:+6281273134321") +62-812-7313-4321
          li 
            p.marker-list E 
            a(href="mailto:hello.afrian@gmail.com") hello.afrian@gmail.com
      .footer__about-us
        h4 About US
        ul.footer__info-list
          li 
            a(href="#") About 
          li 
            a(href="#") What We Do
          li 
            a(href="#") Project
          li 
            a(href="#") How It Work With Us
      .footer__follow-us
        h4 Follow US
        ul.footer__info-list
          li 
            a(href="https://rkn.gov.ru/") Instagram
          li 
            a(href="https://rkn.gov.ru/") Facebook
          li 
            a(href="https://rkn.gov.ru/") LinkedIn
          li 
            a(href="https://www.youtube.com/") Youtube
    p.copyright 2019 © Afrianska. All rights reserved.

