section.project
  .container
    .project__text-wrap
      h3.section-title Our Finished Project
      p.section-text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
    .project__image-wrap
      img(src="images/project-image.jpg", alt="smart home demontration")
      .project__image-text
        h4.project-image-title Smart Home Installation
        p.project-image-subtitle In Muarakana Housing Estate
    .swiper
      .swiper-wrapper
        .swiper-slide
          .project__image-wrap
            img(src="images/smartphones.jpg" alt="photo two smartphones." )
            .project__cards-text
              h4.project-card__title.project-image-title Sparklite App
              p.project-card__subtitle.project-image-subtitle Marketplace
        .swiper-slide
          .project__image-wrap
            img(src="images/draft.jpg" alt="draft project." width="422" height="417")
            .project__cards-text
              h4.project-card__title.project-image-title Car-Rapetition App
              p.project-card__subtitle.project-image-subtitle Board
        .swiper-slide
          .project__image-wrap
            img(src="images/smartphones.jpg" alt="photo two smartphones." width="422" height="417")
            .project__cards-text
              h4.project-card__title.project-image-title Sparklite App
              p.project-card__subtitle.project-image-subtitle Marketplace
      .swiper-pagination
