extends pug/base

append vars
  - title= 'Detail'

append links
  link(rel="icon" href='favicon.ico')
  link(rel="icon" href='favicon-16x16.png' sizes="16x16")
  link(rel="icon" href='favicon-32x32.png' sizes="32x32")
  link(rel="apple-touch-icon" href='apple-touch-icon.png')

block content
  //- ...
  +b('main').detail

    include ./pug/section-header.pug
    +b('section').section-ingredients#section-ingredients
      .container
        +e.header
          +social
          +e.summary Arbeitszeit: <span>25 Minuten</span> · Koch-/Backzeit: <span>15 Minuten</span> · Gesamtzeit: <span>40 Minuten</span>
        include ./pug/ingredients.pug
    +b('section').section-steps
      .container.border-bottom
        +e('div').list
          include ./pug/steps.pug
        +e.footer
          h2 Buon Appetit!
    +b('section').section-comments
      +e.recipe-author
        include ./pug/recipe-author.pug
      +e('div').quantity
        +b('h2') 91 Kommentare
      +e('div').form
        include ./pug/form.pug
      +b('ul').comment-list
        +e('li').item
          include ./pug/comment.pug
        +e('li').item
          include ./pug/comment-extra.pug
      +b('button').show-more Weitere Kommentare anzeigen