.input {
  font-family: $font-input;
  font-size: 19px;
  padding: 12px 14px;
  border: 1px solid transparent;
  text-align: center;
  background-color: transparent;
  color: $color-black;
  transition: border-color $global-animation-time ease-in-out;

  &:focus,
  &:hover,
  &:active {
    outline: 0;
    transition: border-color $global-animation-time ease-in-out;
    border: 1px solid #5d5a5a;
  }
}