.section-comments {
  padding-top: 64px;
  padding-right: 15px;
  padding-bottom: 40px;
  padding-left: 15px;

  @include desktop {
    padding-bottom: 80px;
  }

  &__form {
    margin-bottom: 63px;
  }

  &__recipe-author {
    margin-bottom: 64px;
  }

  &__quantity {
    text-align: center;
  }
}