.steps {
  text-align: center;

  h2 {
    margin-bottom: 55px;
  }

  li {
    margin-top: 85px;
    margin-bottom: 85px;
  }

  p {
    max-width: 768px;
    margin-right: auto;
    margin-bottom: 75px;
    margin-left: auto;
    font-family: $font-secondary;
    font-size: 19px;
    line-height: 1.4;
  }
}
