mixin checkbox(label)
  label.checkbox
    input.checkbox-input(type='checkbox' name="checkbox")
    span.checkbox-box= label
      <svg xmlns="http://www.w3.org/2000/svg" width="11.661" height="11.661" viewBox="0 0 11.661 11.661">
        <g transform="translate(6.891 -11.134) rotate(45)">
          <line x2="10.491" transform="translate(6 12.746)" fill="none" stroke-linecap="round" stroke-width="3"/>
          <line x2="10.491" transform="translate(11.246 7.5) rotate(90)" fill="none" stroke-linecap="round" stroke-width="3"/>
        </g>
      </svg>