mixin customer-slider
  .swiper-container.customer-slider
    .swiper-wrapper
      .swiper-slide
        .card
          .card__header
            .card__quote “
            img(src="images/customer-logo1.png" alt="alt.").card__logo
          .card__body
            .card__quote “
            p Wij zijn al 5 jaar erg tevreden over de samenwerking met Nexios. Nexios is zeer betrokken bij onze organisatie en staat altijd klaar om mee te denken over innovaties. Vanuit degelijke analyses worden meerdere oplossingsrichtingen aangedragen, zodat wij een weloverwogen keuze kunnen maken.
            .card__quote ”
          .card__footer
            img(src="images/customer-logo1.png" alt="alt.").card__logo
            p Fabio Gonzales, hoofd fondsenwerving
            p Nederlandse Rode Kruis
      .swiper-slide
        .card
          .card__header
            .card__quote “
            img(src="images/customer-logo2.png" alt="alt.").card__logo
          .card__body
            .card__quote “
            p Morbi vitae convallis mi. Suspendisse ullamcorper iaculis dolor et porttitor. Ut feugiat urna sapien. Donec nec sem iaculis, pellentesque arcu vel.
            .card__quote ”
          .card__footer
            img(src="images/customer-logo2.png" alt="alt.").card__logo
            p Fabio Gonzales, hoofd fondsenwerving
            p Nederlandse Rode Kruis
      .swiper-slide
        .card
          .card__header
            .card__quote “
            img(src="images/customer-logo3.png" alt="alt.").card__logo
          .card__body
            .card__quote “
            p Morbi vitae convallis mi. Suspendisse ullamcorper iaculis dolor et porttitor. Ut feugiat urna sapien. Donec nec sem iaculis, pellentesque arcu vel.
            .card__quote ”
          .card__footer
            img(src="images/customer-logo3.png" alt="alt.").card__logo
            p Fabio Gonzales, hoofd fondsenwerving
            p Nederlandse Rode Kruis
      .swiper-slide
        .card
          .card__header
            .card__quote “
            img(src="images/customer-logo4.png" alt="alt.").card__logo
          .card__body
            .card__quote “
            p Nexios is een betrouwbare, vernieuwende leverancier die goede en passende service levert. Door de toegankelijkheid van de online module hebben we ieder moment inzicht in de data van onze donateurs en kunnen we marketing daarop toepassen.
            .card__quote ”
          .card__footer
            img(src="images/customer-logo4.png" alt="alt.").card__logo
            p Fabio Gonzales, hoofd fondsenwerving
            p Nederlandse Rode Kruis
    .swiper-pagination
    .swiper-button-prev
    .swiper-button-next

mixin customer-slider-carousel
  .swiper-container.slider-thumbs
    .swiper-wrapper
      .swiper-slide
        .card
          .card__header
            .card__quote “
            img(src="images/customer-logo1.png" alt="alt.").card__logo
          .card__body
            .card__quote “
            p Nexios is een betrouwbare, vernieuwende leverancier die goede en passende service levert. Door de toegankelijkheid van de online module hebben we ieder moment inzicht in de data van onze donateurs en kunnen we marketing daarop toepassen.
            .card__quote ”
          .card__footer
            p Fabio Gonzales, hoofd fondsenwerving
            p Nederlandse Rode Kruis
      .swiper-slide
        .card
          .card__header
            .card__quote “
            img(src="images/customer-logo2.png" alt="alt.").card__logo
          .card__body
            .card__quote “
            p Morbi vitae convallis mi. Suspendisse ullamcorper iaculis dolor et porttitor. Ut feugiat urna sapien. Donec nec sem iaculis, pellentesque arcu vel.
            .card__quote ”
          .card__footer
            p Fabio Gonzales, hoofd fondsenwerving
            p Nederlandse Rode Kruis
      .swiper-slide
        .card
          .card__header
            .card__quote “
            img(src="images/customer-logo3.png" alt="alt.").card__logo
          .card__body
            .card__quote “
            p Morbi vitae convallis mi. Suspendisse ullamcorper iaculis dolor et porttitor. Ut feugiat urna sapien. Donec nec sem iaculis, pellentesque arcu vel.
            .card__quote ”
          .card__footer
            p Fabio Gonzales, hoofd fondsenwerving
            p Nederlandse Rode Kruis
      .swiper-slide
        .card
          .card__header
            .card__quote “
            img(src="images/customer-logo4.png" alt="alt.").card__logo
          .card__body
            .card__quote “
            p Morbi vitae convallis mi. Suspendisse ullamcorper iaculis dolor et porttitor. Ut feugiat urna sapien. Donec nec sem iaculis, pellentesque arcu vel.
            .card__quote ”
          .card__footer
            p Fabio Gonzales, hoofd fondsenwerving
            p Nederlandse Rode Kruis
      .swiper-slide
        .card
          .card__header
            .card__quote “
            img(src="images/customer-logo1.png" alt="alt.").card__logo
          .card__body
            .card__quote “
            p Morbi vitae convallis mi. Suspendisse ullamcorper iaculis dolor et porttitor. Ut feugiat urna sapien. Donec nec sem iaculis, pellentesque arcu vel.
            .card__quote ”
          .card__footer
            p Fabio Gonzales, hoofd fondsenwerving
            p Nederlandse Rode Kruis
    .slider-thumbs-pagination

  .swiper-container.slider-thumbs-nav(thumbsslider='')
    .swiper-wrapper
      .swiper-slide
        img(src="images/customer-logo1.png" alt="alt.").card__logo
      .swiper-slide
        img(src="images/customer-logo2.png" alt="alt.").card__logo
      .swiper-slide
        img(src="images/customer-logo3.png" alt="alt.").card__logo
      .swiper-slide
        img(src="images/customer-logo4.png" alt="alt.").card__logo
      .swiper-slide
        img(src="images/customer-logo1.png" alt="alt.").card__logo
    .swiper-button-prev
    .swiper-button-next