mixin product-slider
  .swiper-container.slider-product
    .swiper-wrapper
      .swiper-slide
        img(src="images/crm.jpg" alt="CRM." width="737" height="449")
      .swiper-slide
        img(src="images/crm.jpg" alt="CRM." width="737" height="449")
      .swiper-slide
        img(src="images/crm.jpg" alt="CRM." width="737" height="449")
    .swiper-pagination

  .swiper-container.slider-product-nav(thumbsslider='')
    .swiper-wrapper
      .swiper-slide
        img(src="images/crm.jpg" alt="CRM." width="231" height="141")
      .swiper-slide
        img(src="images/crm.jpg" alt="CRM." width="231" height="141")
      .swiper-slide
        img(src="images/crm.jpg" alt="CRM." width="231" height="141")