footer.footer
  .container
    +contact(
      "Is your brand ready for a boost, a kickstart or some much needed maintenance? We’re here to help! Our engine runs on coffee and we love sharing, so you’re welcome for a short pitstop at our office in Amsterdam. Or if you’d rather give us a call instead, we’ll be more than ready to answer it.", 
      'Contact us',
      "31206060920",
      "31 20 60 60 920", 
      "info@enginebranding.nl"
      )
    .button.button--up.button--primary(type="button")
  .container-lg
    .footer__copy
      .footer__copyright
        img.footer__copyright-logo(src="images/logo-engine.svg" alt="logo." width="" height="")
        span.footer__copyright-text Copyright 2024
      .footer__bottom-links
        a(href="/") Change cookie settings
        .footer__divider
        a(href="/") Privacy policy
