footer.footer-contact
  .container-lg
    .footer-contact__wrapper
      .footer-contact__invitation.text-default
        p Our engine runs on coffee and we love sharing, so you’re welcome for a short pitstop at our office in Amsterdam.
        .footer-contact__invitation-img
          img(src="images/footer-team.jpg" alt="Our team" width="950" height="636" loading="lazy")
      .footer-contact__location
        .footer-contact__address.text-default
          p Engine Branding &amp; Identity
          p Nieuwpoortkade 2a
          p 1055 RX Amsterdam
        .footer-contact__map
          img(src="images/map.jpg" alt="map" width="571" height="379" loading="lazy")
        +contact("", "", "31206060920", "31 20 60 60 920", "info@enginebranding.nl")
    .button.button--up.button--primary(type="button")
