mixin header(title, subtitle)
  .header.container-fluid(style="background-image:url(../img/header-bg.jpg)")
    .container
      .row
        .col-2
          .header-line
        .col-10
          h1.header-title= title
          h2.header-subtitle= subtitle

mixin header-wechat(title, subtitle)
  .header.header-wechat.container-fluid(style="background-image:url(../img/header-bg.jpg)")
    .container
      .row
        .col-2
          .header-line
        .col-10
          h1.header-title= title
          h2.header-subtitle= subtitle
      .row 
        .col-12 
          .control 
            a(href="").button.button-primary
              span Download brochure
              i.button-icon-arrow.icon-triangle-right
          .control 
            a(href="").button.button-secondary
              span Contact us
              i.button-icon-arrow.icon-triangle-right