mixin pagination
  nav.pagination(role="navigation" aria-label="pagination")
    ul.pagination-list
      li
        a(href='#').pagination-link.is-current 1
      li
        a(href='#').pagination-link 2
      li
        a(href='#').pagination-link 3
      li
        a(href='#').pagination-link 4
      li
        a(href='#').pagination-link 5
      li
        a(href='#').pagination-link ...
    a(href='#').pagination-prev.pagination-link.icon-triangle-right
    a(href='#').pagination-next.pagination-link.icon-triangle-right-double