mixin scroll-down
  .scroll-down-wrap
    .scroll-down
      .scroll-down-text Scroll down for more info 
      .scroll-down-icon
        <svg class="scroll-down-arrow" viewBox="0 0 39.27 48">
          <path d="M0 26.88l3.52-3.28 16.12 17.36L35.75 23.6l3.52 3.28L19.64 48 0 26.88zM17.26 0h4.81v5h-4.81zM17.26 10h4.81v8h-4.81z"/>
          <path d="M17.26 24h4.81v18.79h-4.81z"/>
        </svg>
        <svg class="scroll-down-circle" viewBox="-1 -1 34 34">
          <circle class="scroll-down-circle-bg" cx="16" cy="16" r="16" />
          <circle class="scroll-down-circle-progress" stroke-dashoffset="0" cx="16" cy="16" r="16" />
        </svg>

mixin scroll-down-bottom
  .scroll-down-wrap.to-bottom
    .scroll-down
      .scroll-down-text Scroll down for more info 
      .scroll-down-icon
        <svg class="scroll-down-arrow" viewBox="0 0 39.27 48">
          <path d="M0 26.88l3.52-3.28 16.12 17.36L35.75 23.6l3.52 3.28L19.64 48 0 26.88zM17.26 0h4.81v5h-4.81zM17.26 10h4.81v8h-4.81z"/>
          <path d="M17.26 24h4.81v18.79h-4.81z"/>
        </svg>
        <svg class="scroll-down-circle" viewBox="-1 -1 34 34">
          <circle class="scroll-down-circle-bg" cx="16" cy="16" r="16" />
          <circle class="scroll-down-circle-progress" stroke-dashoffset="0" cx="16" cy="16" r="16" />
        </svg>