.head-section {

    &__description {
        margin-left: auto;
    }

    &__title {
        margin-bottom: 30px;

        @media (min-width: @breakpoint-medium) {
            padding-right: 30px;
        }

        p {
            letter-spacing: -0.018rem;
        }

        h1, h2 {
            margin-bottom: 10px;
        }
    }
}