extends pug/base

prepend vars
  - var htmlClass = "services-page"

append vars
  //-

block content
  .header(style="height:76px;")
  #main-container
    .select-nav
      select(name="nav-page")
        option(value="services" data-scrollto="services") Services
        option(value="Career Sites" data-scrollto="career-sites") Career Sites
        option(value="Film Production" data-scrollto="film-production") Film Production
        option(value="Social Media Recruitment" data-scrollto="social-media") Social Media Recruitment
        option(value="Media Buying" data-scrollto="media-buying") Media Buying
        option(value="Google Advertising Partner" data-scrollto="google-partner") Google Advertising Partner
        option(value="Talent Brand" data-scrollto="talent-brand") Talent Brand
        option(value="Applicant Tracking" data-scrollto="applicant-tracking") Applicant Tracking
        option(value="Talent Comms" data-scrollto="talent-comms") Talent Comms
        option(value="Diversity" data-scrollto="diversity") Diversity
        option(value="EVP" data-scrollto="evp") EVP
        option(value="PR" data-scrollto="employer-brand") PR
        option(value="Radio" data-scrollto="radio-play") Radio
        option(value="Refer a Friend" data-scrollto="friend-app") Refer a Friend

    section#services.services-head
      .services-head__content
        .services-head__text
          h1 What we do
          h4 Whatever you need, when you need it.
          .services-head__description
            p We&rsquo;re a&nbsp;full service agency, holding the hands of&nbsp;some of&nbsp;the biggest and brightest brands in&nbsp;the&nbsp;UK today.
          .services-head__description.services-head__description--small
            p Forget the war for talent&nbsp;&mdash; retention is&nbsp;what we&rsquo;re fighting for. So&nbsp;we&nbsp;take employer branding further. For starters, we&rsquo;re the only agency in&nbsp;the&nbsp;UK to&nbsp;offer talent retention services (we&nbsp;call it &lsquo;Talent Brand&rsquo;.) But there&rsquo;s a&nbsp;lot more where that came from.
            p We&rsquo;ll define the unique essence of&nbsp;your company, translate it&nbsp;into your EVP and weave it&nbsp;across all touchpoints within your candidate journey. This helps you to&nbsp;attract and retain the best and brightest people for your organisation.
        video.services-head__video(loop autobuffer playsinline muted autoplay)
          source(src="./images/bus.webm" type="video/webm")
        img(src="images/bus.gif" alt="bus.").services-head__video-mobile
      button.button.button--scroll-to.with-arrow.uppercase(data-scrollto="#career-sites")
        span.button__text See what makes&nbsp;us unique
    .page-nav-container
      .page-nav
        .container
          .page-nav__wrapper
            ul
              li
                button(data-scrollto="#career-sites") Career Sites
              li
                button(data-scrollto="#film-production") Film Production
              li
                button(data-scrollto="#social-media") Social Media Recruitment
              li
                button(data-scrollto="#media-buying") Media Buying
              li
                button(data-scrollto="#google-partner") Google Advertising Partner
              li
                button(data-scrollto="#talent-brand") Talent Brand
              li
                button(data-scrollto="#applicant-tracking") Applicant Tracking
              li
                button(data-scrollto="#talent-comms") Talent Comms
              li
                button(data-scrollto="#diversity") Diversity
              li
                button(data-scrollto="#evp") EVP
              li
                button(data-scrollto="#employer-brand") PR
              li
                button(data-scrollto="#radio-play") Radio
              li
                button(data-scrollto="#friend-app") Refer a Friend
    section.section.career-sites(id="career-sites")
      .container
        .section__content
          h2 Career Sites
          .section__image
            .section__image-wrap(data-scrollspy="animate-career-sites")
              img.career-sites__macbook(src="./images/macbook.png" alt="Macbook" width="944" height="584")
              img.career-sites__iphone.animate-iphone(src="./images/iphone.png" alt="iPhone" width="210" height="402")
              img.career-sites__ipad.animate-ipad(src="./images/ipad.png" alt="iPad" width="334" height="459")
          .section__description
            p Our bespoke career sites are designed to&nbsp;show off your Employee Value Proposition at&nbsp;its best. But we&rsquo;re not just about slick design. With full integration with your chosen ATS, your candidate journey will be&nbsp;seamless from start to&nbsp;finish.
          .section__btn-wrap
            a.button.with-arrow.uppercase(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
      button.button.button--scroll-to.with-arrow.uppercase(data-scrollto="#film-production")
        span.button__text Keep scrolling

    section.section.section--reversed.film-production(id="film-production")
      .container
        .section__content
          h2 Film Production
          .section__image
            .section__image-wrap(data-scrollspy="animate-film-production")
              img.film-production__ipad(src="./images/film-production-ipad.png" alt="Film production" width="1881" height="1444")
              img.film-production__drone.animate-drone(src="./images/drone.png" alt="Drone" width="486" height="216")
          .section__description
            p  Fancy a&nbsp;bit of&nbsp;screen time? From award-winning recruitment videos to&nbsp;stunning corporate photography, our film and animation team can bring your employer brand to&nbsp;life. And if&nbsp;you&rsquo;re feeling a&nbsp;bit camera shy don&rsquo;t worry&nbsp;&mdash; our in-house experts can manage the whole process, from location scouting to&nbsp;post-production.
            ul
              li On-location photography
              li Film concept creation
              li Storyboarding &amp;&nbsp;scripting
          .section__btn-wrap
            a.button.with-arrow(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
      button.button.button--scroll-to.with-arrow(data-scrollto="#social-media")
        span.button__text This and so&nbsp;much more

    section.section.social-media(id="social-media")
      .container
        .section__content
          h2 Social Media Recruitment
          .section__image
            .section__image-wrap(data-scrollspy="animate-social-media")
              img.social-media__iphone(src="./images/social-iphone.png" alt="Social Media Recruitment" width="719" height="1376")
              img.social-media__sky-service.animate-sky-service(src="./images/sky-service.png" alt="Sky service" width="584" height="934")
              img.social-media__gaucho-ig.animate-gaucho-ig(src="./images/gaucho-ig.png" alt="Gaucho IG" width="292" height="505")
              span.social-media__icon.animate-icon.social-media__icon--twitch-like.animate-icon-social-media
                img(src="./images/twitch-like.png" alt="twitch like icon" width="378" height="275")
              span.social-media__icon.animate-icon.social-media__icon--facebook.animate-icon-social-media
                img(src="./images/facebook.png" alt="facebook icon" width="212" height="212")
              span.social-media__icon.animate-icon.social-media__icon--facebook-like.animate-icon-social-media
                img(src="./images/facebook-like.png" alt="facebook icon like" width="92" height="92")
              span.social-media__icon.animate-icon.social-media__icon--tiktok-like.animate-icon-social-media
                img(src="./images/tiktok-like.png" alt="tiktok icon like" width="165" height="165")
              span.social-media__icon.animate-icon.social-media__icon--tiktok.animate-icon-social-media
                img(src="./images/tiktok.png" alt="tiktok icon" width="92" height="92")
              span.social-media__icon.animate-icon.social-media__icon--twitter.animate-icon-social-media
                img(src="./images/twitter.png" alt="twitter icon" width="92" height="92")
              span.social-media__icon.animate-icon.social-media__icon--linkedin-like.animate-icon-social-media
                img(src="./images/linkedin-like.png" alt="linkedin like icon" width="225" height="150")
              span.social-media__icon.animate-icon.social-media__icon--instagram.animate-icon-social-media
                img(src="./images/instagram.png" alt="instagram icon" width="211" height="211")
              span.social-media__icon.animate-icon.social-media__icon--instagram-like.animate-icon-social-media
                img(src="./images/instagram-like.png" alt="instagram like icon" width="72" height="71")
              span.social-media__icon.animate-icon.social-media__icon--gost-like.animate-icon-social-media
                img(src="./images/gost-like.png" alt="gost like icon" width="330" height="310")
          .section__description
            p When&nbsp;85% of&nbsp;the talent pool isn&rsquo;t even looking for a&nbsp;job, you&rsquo;ll need to&nbsp;catch their eye. Finding where your best talent hangs out and attracting them with scroll-stopping social media campaigns is&nbsp;what we&nbsp;do&nbsp;best, so&nbsp;let&nbsp;us help you find your future employees.
            ul
              li Content creation
              li Paid social posts
              li Social media strategy
          .section__btn-wrap
            a.button.with-arrow(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
      button.button.button--scroll-to.with-arrow(data-scrollto="#media-buying")
        span.button__text This is&nbsp;a&nbsp;juicy one

    section.section.section--reversed.media-buying(id="media-buying")
      .container
        .section__content
          h2 Media Buying
          .section__image
            .section__image-wrap(data-scrollspy="animate-media-buying")
              img.media-buying__bus-stop(src="./images/bus-stop.png" alt="Bus stop" width="2260" height="1940")
              span.media-buying__icon.animate-icon.media-buying__icon--guardian-jobs.animate-guardian-icon
                img(src="./images/guardian-jobs.png" alt="The guardian jobs" width="503" height="507")
              span.media-buying__icon.animate-icon.media-buying__icon--cv-library.animate-cv-icon
                img(src="./images/cv-library.png" alt="CV library" width="239" height="236")
              span.media-buying__icon.animate-icon.media-buying__icon--talent.animate-talent-icon
                img(src="./images/talent-com.png" alt="talent.com" width="631" height="613")
              span.media-buying__icon.animate-icon.media-buying__icon--total-job.animate-total-job-icon
                img(src="./images/total-job.png" alt="Total job" width="614" height="165")
              span.media-buying__icon.animate-icon.media-buying__icon--indeed.animate-indeed-icon
                img(src="./images/indeed.png" alt="indeed" width="378" height="378")
          .section__description
            p We&nbsp;work harder to&nbsp;understand where the best talent lives. Our huge media buying power and creative out of&nbsp;home advertising means we&nbsp;can target your candidates in&nbsp;the right place at&nbsp;the right time, giving you more bang for your buck.
            ul
              li Media planning &amp;&nbsp;buying
              li board advertising
              li Digital &amp;&nbsp;print out of&nbsp;home advertising
          .section__btn-wrap
            a.button.with-arrow.uppercase(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
        button.button.button--scroll-to.with-arrow.uppercase(data-scrollto="#google-partner")
          span.button__text We&rsquo;re not done yet
    section.section.google-partner(id="google-partner")
      .container
        .section__content
          h2 Google Advertising Partner
          .section__image
            .section__image-wrap(data-scrollspy="animate-google-partner")
              img.google-partner__google-iphone(src="./images/google-iphone.png" alt="Google iphone" width="719" height="1376")
              span.google-partner__icon.animate-icon.google-partner__icon--google-search.animate-google-search
                img(src="./images/google-search.png" alt="Google search" width="486" height="231")
              span.google-partner__icon.animate-icon.google-partner__icon--we-hiring.animate-we-hiring
                img(src="./images/we-hiring.png" alt="We hiring" width="872" height="380")
              span.google-partner__icon.animate-icon.google-partner__icon--job-opportunities.animate-job-opportunities
                img(src="./images/job-opportunities.png" alt="Job opportunities" width="868" height="578")
              span.google-partner__icon.animate-icon.google-partner__icon--hiring-today.animate-hiring-today
                img(src="./images/hiring-today.png" alt="Hiring today" width="446" height="496")
          .section__description
            p We&nbsp;don&rsquo;t just &lsquo;do&rsquo; Google advertising&nbsp;&mdash; we&rsquo;re official Google Partners. That means we&rsquo;re trained in&nbsp;the best practices and keep constantly up-to-date on&nbsp;what&rsquo;s new in&nbsp;the world of&nbsp;online advertising. With rich media display adverts and pay per click (PPC) search ads, you&rsquo;ll be&nbsp;amazed how far your advertising budget goes.
            ul
              li Google Ads campaigns
              li Account strategy
              li Enhanced Google ad&nbsp;optimisation
          .section__btn-wrap
            a.button.with-arrow.uppercase(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
        button.button.button--scroll-to.with-arrow.uppercase(data-scrollto="#talent-brand")
          span.button__text We&rsquo;re not done yet
    section.section.section--reversed.talent-brand(id="talent-brand")
      .container
        .section__content
          h2 Talent Brand (Culture Development)
          .section__image
            .section__image-wrap(data-scrollspy="animate-talent-brand")
              span.talent-brand__icon.animate-icon.talent-brand__icon--polaroid-2.animate-polaroid-2
                img(src="./images/polaroid-2.png" alt="polaroid-2" width="1000" height="1204")
              span.talent-brand__icon.animate-icon.talent-brand__icon--polaroid-1.animate-polaroid-1
                img(src="./images/polaroid-1.png" alt="polaroid-1" width="1000" height="1204")
              span.talent-brand__icon.animate-icon.talent-brand__icon--polaroid-3.animate-polaroid-3
                img(src="./images/polaroid-3.png" alt="polaroid-3" width="1000" height="1204")
          .section__description
            p We&nbsp;believe that the best talent is&nbsp;grown from within. Our ongoing talent retention services are designed to&nbsp;fit the needs of&nbsp;your company and show you how to&nbsp;rock at&nbsp;being an&nbsp;employer. We&nbsp;support you to&nbsp;support your employees&nbsp;&mdash; so&nbsp;they stay with you for longer.
            ul
              li Interactive culture programmes
              li Ongoing support packages
              li Internal and external comms
          .section__btn-wrap
            a.button.with-arrow.uppercase(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
        button.button.button--scroll-to.with-arrow.uppercase(data-scrollto="#applicant-tracking")
          span.button__text We&rsquo;re not done yet
    section.section.applicant-tracking(id="applicant-tracking")
      .container
        .section__content
          h2 Applicant Tracking and Multi-Posting Consultancy
          .section__image
            .section__image-wrap(data-scrollspy="animate-applicant-tracking")
              span.applicant-tracking__icon.animate-icon.applicant-tracking__icon--candidates
                img(src="./images/candidates.png" alt="Candidates" width="719" height="1376")
              span.applicant-tracking__icon.animate-icon.applicant-tracking__icon--great-candidate.animate-great-candidate
                img(src="./images/great-candidate.png" alt="Great candidate" width="480" height="234")
              span.applicant-tracking__icon.animate-icon.applicant-tracking__icon--similar-candidates.animate-similar-candidates
                img(src="./images/similar-candidates.png" alt="similar-candidates" width="510" height="567")
              span.applicant-tracking__icon.animate-icon.applicant-tracking__icon--smart-recruiters.animate-applicant-tracking
                img(src="./images/smart-recruiters.png" alt="Smart recruiters" width="326" height="326")
              span.applicant-tracking__icon.animate-icon.applicant-tracking__icon--teamtailor.animate-applicant-tracking
                img(src="./images/teamtailor.png" alt="Teamtailor" width="304" height="304")
              span.applicant-tracking__icon.animate-icon.applicant-tracking__icon--at.animate-applicant-tracking
                img(src="./images/at.png" alt="At icon" width="408" height="408")
              span.applicant-tracking__icon.animate-icon.applicant-tracking__icon--vacancy-poster.animate-applicant-tracking
                img(src="./images/vacancy-poster.png" alt="Vacancy poster" width="334" height="332")
              span.applicant-tracking__icon.animate-icon.applicant-tracking__icon--jobvite.animate-applicant-tracking
                img(src="./images/jobvite.png" alt="Jobvite" width="254" height="254")
              span.applicant-tracking__icon.animate-icon.applicant-tracking__icon--hand.animate-applicant-tracking
                img(src="./images/hand.png" alt="Hand icon" width="364" height="364")
              span.applicant-tracking__icon.animate-icon.applicant-tracking__icon--bullhorn.animate-applicant-tracking
                img(src="./images/bullhorn.png" alt="Bullhorn icon" width="300" height="300")
              span.applicant-tracking__icon.animate-icon.applicant-tracking__icon--broadbean.animate-applicant-tracking
                img(src="./images/broadbean.png" alt="Broadbean" width="464" height="464")
          .section__description
            p If&nbsp;what you&rsquo;re currently doing to&nbsp;track your applicants isn&rsquo;t working, we&nbsp;can help. We&rsquo;re experts in&nbsp;ATS systems and multi-posting technology, meaning we&nbsp;can help you choose the most cost-effective ways to&nbsp;keep track of&nbsp;the data that matters.
            ul
              li Talent attraction &amp;&nbsp;acquisition software
              li Recruitment data &amp;&nbsp;insights
              li Candidate management &amp;&nbsp;source tracking
          .section__btn-wrap
            a.button.with-arrow.uppercase(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
        button.button.button--scroll-to.with-arrow.uppercase(data-scrollto="#talent-comms")
          span.button__text We&rsquo;re not done yet
    section.section.section--reversed.talent-comms(id="talent-comms")
      .container
        .section__content
          h2 Talent Comms and Engagement Strategy
          .section__image
            .section__image-wrap(data-scrollspy="animate-talent-comms")
              span.talent-comms__icon.animate-icon.talent-comms__icon--social-iphone-2
                img(src="./images/social-iphone-2.png" alt="Social iphone" width="719" height="1376")
              span.talent-comms__icon.animate-icon.talent-comms__icon--knauf.animate-knauf
                img(src="./images/knauf-internal-email.png" alt="Knauf internal email" width="2284" height="1953")
              span.talent-comms__icon.animate-icon.talent-comms__icon--coffee-cup.animate-coffee-cup
                img(src="./images/coffee-cup.png" alt="Coffee cup" width="565" height="833")
              span.talent-comms__icon.animate-icon.talent-comms__icon--coffee-cup-lid.animate-coffee-cup-lid
                img(src="./images/coffee-cup-lid.png" alt="Coffee cup lid" width="505" height="284")
          .section__description
            p If&nbsp;you think comms doesn&rsquo;t matter, think again. Company culture is&nbsp;our conversations, which is&nbsp;why we&nbsp;offer comms and engagement consultancy to&nbsp;help attract, retain and inspire your ideal talent.
            ul
              li Bespoke communications campaigns
              li Transformation &amp;&nbsp;change
              li Content development &amp;&nbsp;delivery
          .section__btn-wrap
            a.button.with-arrow.uppercase(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
        button.button.button--scroll-to.with-arrow.uppercase(data-scrollto="#diversity")
          span.button__text We&rsquo;re not done yet
    section.section.diversity(id="diversity")
      .container
        .section__content
          h2 Diversity, Equity and Inclusion
          .section__image
            .section__image-wrap(data-scrollspy="animate-diversity")
              span.diversity__icon.animate-icon.diversity__icon--diversity-desktop
                img(src="./images/d&i-desktop.png" alt="D&I desktop" width="719" height="1376")
              span.diversity__icon.animate-icon.diversity__icon--diversity-iphone.animate-diversity-iphone
                img(src="./images/d&i-phone.png" alt="D&I-phone" width="719" height="1376")
              span.diversity__icon.animate-icon.diversity__icon--diversity-iphone-2.animate-diversity-iphone-2
                img(src="./images/d&i-phone-2.png" alt="D&I-phone" width="719" height="1376")
          .section__description
            p It&rsquo;s not enough to&nbsp;talk about DE&amp;I&nbsp;&mdash; you have to&nbsp;live&nbsp;it, too. We&rsquo;re all about holding you accountable to&nbsp;your words, in&nbsp;your recruitment, your engagement and your company culture. We&rsquo;ll also help you shout about it&nbsp;to&nbsp;the right people.
            ul
              li Workplace belonging programmes
              li Team development
              li Training &amp;&nbsp;support
          .section__btn-wrap
            a.button.with-arrow.uppercase(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
        button.button.button--scroll-to.with-arrow.uppercase(data-scrollto="#evp")
          span.button__text We&rsquo;re not done yet
    section.section.section--reversed.evp(id="evp")
      .container
        .section__content
          h2 Employee Value Proposition (EVP) Consultancy
          .section__image
            .section__image-wrap(data-scrollspy="animate-evp")
              span.evp__icon.animate-icon.evp__icon--evp-magazine
                img(src="./images/photorealistic-magazine.png" alt="photorealistic magazine" width="1534" height="1223")
                img.evp__magazine-list(src="./images/photorealistic-magazine-list.png" alt="photorealistic magazine list" width="1534" height="1223")
              span.evp__icon.animate-icon.evp__icon--evp-postcard.animate-evp-postcard
                img(src="./images/evp-postcard.png" alt="evp postcard" width="1966" height="1772")
              span.evp__icon.animate-icon.evp__icon--evp-polaroid.animate-evp-polaroid
                img(src="./images/polaroid-photo.png" alt="polaroid photo" width="820" height="768")
          .section__description
            p It&rsquo;s time to&nbsp;find out what&rsquo;s unique about working for your organisation and share it&nbsp;with the world. Our EVP process takes a&nbsp;deep dive into life as&nbsp;an&nbsp;employee, then we&nbsp;weave our findings throughout your recruitment lifecycle. Think creative concepts, clever copy and show-stopping designs.
            ul
              li Internal &amp;&nbsp;external data gathering
              li EVP concept creation
              li Implementation &amp;&nbsp;application
          .section__btn-wrap
            a.button.with-arrow.uppercase(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
        button.button.button--scroll-to.with-arrow.uppercase(data-scrollto="#employer-brand")
          span.button__text We&rsquo;re not done yet
    section.section.employer-brand(id="employer-brand")
      .container
        .section__content
          h2 Employer Brand&nbsp;PR
          .section__image
            .section__image-wrap(data-scrollspy="animate-employer-brand")
              span.employer-brand__icon.employer-brand__icon--magazine
                img(src="./images/magazine.png" alt="Magazine" width="2260" height="1940")
              span.employer-brand__icon.animate-icon.employer-brand__icon--meat.animate-meat
                img(src="./images/meat.png" alt="Meat" width="584" height="1010")
              span.employer-brand__icon.animate-icon.employer-brand__icon--building-society.animate-building-society
                img(src="./images/building-society.png" alt="Building society" width="584" height="862")
          .section__description
            p Crafting a&nbsp;great employer brand is&nbsp;just one part of&nbsp;attracting great talent. Next you need to&nbsp;shout about&nbsp;it. We&nbsp;tell stories that highlight your unique culture and show why your company is&nbsp;a&nbsp;great place to&nbsp;work, and our cutting-edge software will help you turn prospects into candidates.
            ul
              li Media &amp;&nbsp;influencer placements
              li Social media &amp;&nbsp;content marketing
              li Media list creation
          .section__btn-wrap
            a.button.with-arrow.uppercase(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
        button.button.button--scroll-to.with-arrow.uppercase(data-scrollto="#radio-play")
          span.button__text We&rsquo;re not done yet
    section.section.section--reversed.radio-play(id="radio-play")
      .container
        .section__content
          h2 Radio
          .section__image
            .section__image-wrap(data-scrollspy="animate-radio-play")
              span.radio-play__icon.radio-play__icon--media-player
                img(src="./images/media-player.png" alt="Media player" width="1663" height="1371")
              span.radio-play__icon.animate-icon.radio-play__icon--radio-waves.animate-radio-waves
                img(src="./images/radio-waves.png" alt="Radio waves" width="1652" height="481")
              span.radio-play__icon.animate-icon.radio-play__icon--progress-bar.animate-progress-bar
                img(src="./images/progress-bar.png" alt="Progress bar" width="321" height="11")
              span.radio-play__icon.animate-icon.radio-play__icon--play-music.animate-radio-icon
                img(src="./images/play-music.png" alt="Play music icon" width="221" height="221")
              span.radio-play__icon.animate-icon.radio-play__icon--apple-music.animate-radio-icon
                img(src="./images/apple-music.png" alt="Apple music icon" width="259" height="259")
              span.radio-play__icon.animate-icon.radio-play__icon--audible.animate-radio-icon
                img(src="./images/audible.png" alt="Audible icon" width="256" height="256")
              span.radio-play__icon.animate-icon.radio-play__icon--espn-radio.animate-radio-icon
                img(src="./images/espn-radio.png" alt="Espn radio icon" width="268" height="268")
              span.radio-play__icon.animate-icon.radio-play__icon--spotify.animate-radio-icon
                img(src="./images/spotify.png" alt="Spotify icon" width="259" height="259")
          .section__description
            p From ads to&nbsp;podcasts, traditional radio to&nbsp;bespoke streaming services, we&rsquo;ll make audio your employer branding friend. And by&nbsp;putting media spend where it&nbsp;counts, we&nbsp;can reach your ideal candidate personas&nbsp;&mdash; wherever they&rsquo;re listening.
            ul
              li Radio advertising
              li Podcast creation &amp;&nbsp;recording
              li Sponsored social media posting
          .section__btn-wrap
            a.button.with-arrow.uppercase(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
        button.button.button--scroll-to.with-arrow.uppercase(data-scrollto="#friend-app")
          span.button__text We&rsquo;re not done yet
    section.section.friend-app(id="friend-app")
      .container
        .section__content
          h2 Refer a&nbsp;Friend App
          .section__image
            .section__image-wrap(data-scrollspy="animate-friend-app")
              span.friend-app__icon.friend-app__icon--app
                img(src="./images/app.png" alt="App for friends" width="719" height="1376")
              span.friend-app__icon.animate-icon.friend-app__icon--post.animate-friend-app-post
                img(src="./images/post.png" alt="Post" width="764" height="834")
              span.friend-app__icon.animate-icon.friend-app__icon--post-2.animate-friend-app-post-2
                img(src="./images/post-2.png" alt="Post" width="764" height="430")
              span.friend-app__icon.animate-icon.friend-app__icon--chart.animate-chart
                img(src="./images/chart.png" alt="Chart" width="594" height="426")
              span.friend-app__icon.animate-icon.friend-app__icon--app-store.animate-app-store
                img(src="./images/app-store.png" alt="App store" width="388" height="130")
              span.friend-app__icon.animate-icon.friend-app__icon--google-play.animate-google-play
                img(src="./images/google-play.png" alt="Google play" width="388" height="112")
          .section__description
            p The best way to&nbsp;share your employer brand is&nbsp;through the people who already work for you. Our Refer-a-Friend app rewards your employees for sharing jobs and helps you recruit the right people for your team.
            ul
              li Easy-to-use interface
              li Per-employee cost
              li Employer admin portal
          .section__btn-wrap
            a.button.with-arrow.uppercase(href="https://welove9am.com/our-work/the-culture-hub" title="Discover more")
              span.button__text Discover more
