mixin offer
    .offer
        .offer__top
            .offer__header
                .offer__icon
                    div(data-uk-icon="calendar")
                span September
            .offer__content
                p Autumn 2019 weekend wedding
                .offer__link
                    a(href="#").uk-button.uk-button-primary.uk-button-small View offer
        img(src="img/offer.jpg" alt="Offer image" width="322" height="322")