mixin nav(data)
    nav.nav
        ul.nav__list
            li.nav__item
                a(href="dream.html" data-uk-toggle="target: #toggle-hover1; mode: hover; animation: uk-animation-fade, uk-animation-fade uk-animation-reverse; queued: true").nav__link
                    | The dream
            li.nav__item
                a(href="dream.html" data-uk-toggle="target: #toggle-hover2; mode: hover; animation: uk-animation-fade, uk-animation-fade uk-animation-reverse; queued: true").nav__link
                    | The I do’s
            li.nav__item
                a(href="dream.html" data-uk-toggle="target: #toggle-hover3; mode: hover; animation: uk-animation-fade, uk-animation-fade uk-animation-reverse; queued: true").nav__link
                    | Plan & prep
            li.nav__item
                a(href="dream.html" data-uk-toggle="target: #toggle-hover4; mode: hover; animation: uk-animation-fade, uk-animation-fade uk-animation-reverse; queued: true").nav__link
                    | Eat well
            li.nav__item
                a(href="dream.html" data-uk-toggle="target: #toggle-hover5; mode: hover; animation: uk-animation-fade, uk-animation-fade uk-animation-reverse; queued: true").nav__link
                    | Sleep tight
            li.nav__item
                a(href="dream.html" data-uk-toggle="target: #toggle-hover6; mode: hover; animation: uk-animation-fade, uk-animation-fade uk-animation-reverse; queued: true").nav__link
                    | Party time
            li.nav__item
                a(href="dream.html" data-uk-toggle="target: #toggle-hover7; mode: hover; animation: uk-animation-fade, uk-animation-fade uk-animation-reverse; queued: true").nav__link
                    | Explore & conquer
            li.nav__item
                a(href="dream.html" data-uk-toggle="target: #toggle-hover8; mode: hover; animation: uk-animation-fade, uk-animation-fade uk-animation-reverse; queued: true").nav__link
                    | Discover more
            li.nav__item
                a(href="dream.html" data-uk-toggle="target: #toggle-hover9; mode: hover; animation: uk-animation-fade, uk-animation-fade uk-animation-reverse; queued: true").nav__link
                    | Gallery
            li.nav__item
                a(href="dream.html" data-uk-toggle="target: #toggle-hover10; mode: hover; animation: uk-animation-fade, uk-animation-fade uk-animation-reverse; queued: true").nav__link
                    | Our weddings
