footer.footer
  .container
    .footer-inner
      button.back-to-top.icon-arrow-up(data-scrollto=".page-wrapper")
      .footer-copy &copy; 2020. All rights reserved. Flexstar.
      nav.footer-nav
        ul.footer-nav-list
          li.footer-nav-item
            a(href="/build/product.html").footer-nav-link FLEXSTAR PRO LED
          li.footer-nav-item
            a(href="/build/product.html").footer-nav-link FLEXSTAR PB LED
          li.footer-nav-item
            a(href="/build/product-single.html").footer-nav-link FLEXSTAR INTERLIGHTING LED
          li.footer-nav-item
            a(href="/build/product-single.html").footer-nav-link FLEXSTAR DE 1000w
          li.footer-nav-item
            a(href="/build/product-single.html").footer-nav-link FLEXSTAR CMH FIXTURES
          li.footer-nav-item-divider
          li.footer-nav-item
            a(href="/build/meet.html").footer-nav-link Meet Flexstar
          li.footer-nav-item
            a(href="/build/contact-us.html").footer-nav-link Support
        .footer-social
          ul.social
            li
              a(href="https://www.facebook.com/Flexstarofficial/", target="_blank", rel="noopener noreferrer")
                span.icon-facebook
            li
              a(href="https://www.instagram.com/flexstar.official/?hl=zh-cn", target="_blank", rel="noopener noreferrer")
                span.icon-instagram

.modal#modal-quote
  <a href="#close" class="modal-close" rel="modal:close">
    <i class="icon-close"></i>
  </a>
  div Thank you for your interest in FLEXSTAR's premium products. A FLEXSTAR-licensed representative will be in contact with you within 24-hours!"