header.header
  .container
    .header-inner
      a(href="/").logo
        img(src="img/logo-flexstar.svg" alt="Flexstar logo" width="100" height="15")
      button.nav-menu-button.js-menu-toggle
        span.icon-menu
      nav.nav.nav-mobile
        button.nav-close.js-menu-toggle
          span.icon-close
        ul.nav-list
          li.nav-item
            a(href="/build/product.html").nav-link FLEXSTAR PRO LED
          li.nav-item
            a(href="/build/product.html").nav-link FLEXSTAR PB LED
          li.nav-item
            a(href="/build/product-single.html").nav-link FLEXSTAR INTERLIGHTING LED
          li.nav-item
            a(href="/build/product-single.html").nav-link FLEXSTAR DE 1000w
          li.nav-item
            a(href="/build/product-single.html").nav-link FLEXSTAR CMH FIXTURES
          li.nav-item
            .nav-divider
          li.nav-item
            a(href="/build/meet.html").nav-link Meet Flexstar
          li.nav-item
            a(href="/build/contact-us.html").nav-link Support
