//- include mixins/svg
include mixins/breadcrumb
include mixins/get-quote
include mixins/header
include mixins/nav
include mixins/pagination
include mixins/scroll-down
include mixins/slider
include mixins/social


