.info {
  margin: 0;
  padding-top: 32px;
  text-align: center;
  background-size: cover;
  background-repeat: no-repeat;

  @include tablet {
    padding-top: 0;
  }

  @include desktop {
    padding: 94px 0 85px;
  }
}

.info__intro {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;

  @include tablet {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.info__intro__image-wrap {
  width: 100%;

  @include tablet {
    width: 45%;
    margin: auto;
  }

  @include desktop {
    margin: 0;
  }
}

.info__intro__image-wrap img {
  width: 95%;
  height: auto;

  @include desktop {
    margin-left: -40px;
  }
}

.info__intro__text-wrap {
  padding: 14px 0;
  width: 100%;
  text-align: left;

  @include tablet {
    width: 50%;
  }
}

.info-title {
  font-size: 24px;
  color: $global-color-background-orange;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 14px;

  @include tablet {
    font-size: 32px;
  }
}

.info-text {
  font-size: 14px;
  color: $global-color-gray;
  font-weight: 400;
  letter-spacing: 0;
  margin-bottom: 24px;

  @include tablet {
    font-size: 18px;
  }
}

.info-text-accent {
  color: $global-color-background-orange;
  font-weight: 700;
}
