.passion-inside {
	.container {
		position: relative;
	}
	.swiper-button-next,
	.swiper-button-prev {
		color: $global-color-background-primary;

		@media (max-width: 767px) {
			top: 55%;
		}

		&:after {
			@media (max-width: 767px) {
				font-size: 20px;
			}
		}
	}

	.swiper-button-prev {
		left: 0;
	}

	.swiper-button-next {
		right: 0;
	}

	&--gray-theme {
		background-color: #edeae6;
		margin-bottom: 0;
		padding-top: 21px;
		padding-bottom: 33px;

		@include tablet-large {
			padding-top: 30px;
			padding-bottom: 30px;
		}

		.passion-inside__content {
			padding-left: 0;
			padding-right: 0;

			@include tablet {
				padding-left: 30px;
			}
		}
	}

	&__media {
		margin-bottom: 17px;
		position: relative;

		@include tablet {
			width: 50%;
			margin-bottom: 0;
		}

		video {
			width: 100%;
			height: 220px;
			object-fit: cover;

			@include tablet {
				height: 100%;
				min-height: 360px;
			}
		}
	}

	&__play {
		position: absolute;
		z-index: 1;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 50px;
		height: 50px;
		cursor: pointer;

		@include tablet-large {
			width: 75px;
			height: 75px;
		}

		svg {
			width: 100%;
			height: 100%;
		}
	}

	&__head {
		margin-bottom: 21px;

		@include tablet-large {
			margin-bottom: 30px;
		}
	}

	&__content {
		padding-left: 20px;
		padding-right: 20px;

		@include tablet {
			width: 50%;
			padding-left: 30px;
			padding-right: 0;
		}

		@include tablet-large {
			max-width: 450px;
		}

		blockquote {
			margin-bottom: 10px;
		}

		> p {
			margin-bottom: 10px;
		}
	}

	&__pagination {
		margin-top: 20px;

		.swiper-pagination {
			position: static;
		}

		.swiper-pagination-bullet {
			background-color: #dcd5cd;

			&-active {
				background-color: $global-color-background-primary;
			}
		}
	}

	&__slide {
		@include tablet {
			display: flex;
			padding-top: 2px;
		}
	}

	&__button {
		display: flex;
		margin-top: 14px;

		@include tablet {
			margin-top: 20px;
		}
	}

	.swiper-container {
		margin: 0 -15px;
		padding: 0 15px;

		@include tablet {
			margin: 0;
			padding: 0;
		}
	}
}
