.role-map-item {
    line-height: 0;

    @include tablet {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: space-between;
    }

    &__content {
        line-height: 1.75;
        letter-spacing: 0.75px;
        margin-bottom: 10px;

        @include tablet {
            margin-bottom: 0;
        }

        @include tablet-large {
            line-height: normal;
        }
    }

    &__name {
        font-size: 16px;
        font-weight: 500;
        line-height: normal;

        @include tablet-large {
            font-size: 18px;
        }
    }

    &__location {
        font-size: 14px;
        line-height: normal;

        @include tablet {
            margin-bottom: 30px;
        }
    }

    &__available-quantity {
        font-size: 12px;
    }

    &__button {

        .button {
            width: auto;
            padding: 12px 19px;

            @include hover {
                background-color: #88776B;
                color: #fff;
            }
        }
    }
}