.page-header {
  padding-top: 22px;
  padding-bottom: 80px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50%;

  @include desktop {
    padding: 64px 0 40px;
  }

  @media (min-width: 2560px) {
    background-size: contain;
  }

  .container {
    position: relative;
  }

  &.image-1 {
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../images/page-header-background-1.jpg");
    transition: all 0.5s;
    background-size: cover;
    background-position: 50%;
  }

  &.image-2 {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../images/page-header-background-2.jpg");
    transition: all 0.5s;
    background-size: cover;
    background-position: 50%;
  }

  &__buttons {
    position: absolute;
    right: -10%;
    bottom: -65px;
    right: 0;
    left: 0;
    display: flex;
    justify-content: center;
    gap: 12px;

    @include desktop {
      right: 20px;
      bottom: 0;
      left: auto;
    }

    @include desktop-lg {
      right: -10%;
      bottom: -20px;
    }

    button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 46px;
      height: 46px;
      font-size: 18px;
      font-weight: 900;
      border: 2px solid transparent;
      background: none;
      color: #fcfcfc;
      cursor: pointer;

      &.active {
        border: 2px solid #fcfcfc;
      }
    }
  }

  &__button {
    height: 50px;
  }

  h1 {
    margin: -18px 0 10px;
    font-weight: 600;
    font-size: 25px;
    color: #fff;
  }

  h3 {
    margin: 0 0 5px;
    font-size: 30px;
    color: #fff;
  }

  h4 {
    margin: 0;
    margin-bottom: 8px;
    font-size: 30px;
    color: #fff;
  }

  p {
    margin-bottom: 16px;
    font-size: 13px;
    color: #fff;
  }

  &__logo {
    display: flex;
    margin: 0 auto;
    margin-bottom: 34px;
    width: 84px;

    svg {
      height: 40px;
      fill: #fff;
    }
  }

  &__wrap-video {
    position: relative;

    img {
      width: 270px;
    }
  }

  &__fly-video {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100px;
    height: 100px;

    iframe {
      width: 100%;
      height: 100%;
    }
  }

  &__wrap-input {
    display: flex;
    margin-bottom: 25px;
    height: 50px;

    label {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 90px;
      font-weight: 600;
      color: $global-color-background-orange;
      background: $global-color-background-light-gray;
    }

    input {
      border: 0;
      padding: 0;
      padding: 0 10px;
      width: 100%;
      background: $color-white;
    }

    &--clock {
      margin-bottom: 20px;
    }
  }

  &__file {
    position: absolute;
    z-index: -1;
    display: none;
    opacity: 0;
  }

  label.page-header__label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 0;
    width: 100%;
    font-weight: 600;
    font-size: 16px;
    background: #fff;
    cursor: pointer;
  }

  &__form-button {
    border: 0;
    padding: 0;
    width: auto;
    height: 33px;
    font-weight: 600;
    font-size: 12px;
    color: #fff;
    background-image: linear-gradient(
      to right,
      #4d2a6b,
      #752e78,
      #9d307f,
      #c5327f,
      #ea397a
    );
  }

  &__form {
    margin: 0 auto;
    max-width: 640px;

    strong {
      display: block;
      margin-bottom: 6px;
      font-size: 11px;
      color: #fff;
    }
  }

  &--indent {
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom: 70px;
  }

  @include tablet {
    padding-top: 65px;

    &__button {
      height: 54px;
    }

    h3 {
      font-size: 58px;
    }

    &__label {
      font-size: 24px;
    }

    p {
      margin: 0 auto 38px;
      max-width: 690px;
    }

    h4 {
      font-size: 58px;
    }

    strong {
      margin-top: -4px;
      margin-bottom: 19px;
      font-size: 20px;
    }

    h1 {
      margin: -30px 0 16px;
      font-size: 54px;
    }

    &__logo {
      margin-bottom: 75px;
      width: 180px;

      svg {
        height: 66px;
      }
    }

    &__wrap-video {
      img {
        width: 540px;
      }
    }

    &__fly-video {
      width: 212px;
      height: auto;
    }

    &__form {
      max-width: 610px;
    }

    &__wrap-input {
      margin-bottom: 20px;
      height: 54px;

      label {
        justify-content: flex-start;
        padding-left: 18px;
        text-align: left;
      }

      &--clock {
        margin-bottom: 42px;
      }
    }

    &__form-button {
      height: 65px;
      font-size: 26px;
    }
  }

  @include desktop {
    &__info {
      display: flex;
      flex-direction: row-reverse;
    }

    &__logo {
      margin: 0 0 140px;
    }

    &__fly-video {
      width: 210px;
      height: 115px;
    }

    &__wrap-video {
      align-self: flex-start;

      &--top {
        margin: 0;
      }
    }

    h1 {
      font-size: 32px;
    }

    &__wrap-info {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
      text-align: left;
    }

    p {
      text-align: left;
    }

    h3 {
      text-align: left;
    }
  }

  @include desktop-lg {
    padding-top: 35px;

    &__logo {
      margin: 0 0 175px;
      width: 120px;
    }

    &__info {
      .container {
        padding: 0;
        text-align: left;
      }
    }

    &__wrap-video {
      margin-top: -124px;

      img {
        width: 740px;
      }

      &--top {
        margin: 0;
      }
    }

    h1 {
      margin-bottom: 34px;
      font-size: 54px;
    }

    &__form {
      margin: 0;
      max-width: 558px;
    }

    &__wrap-input {
      margin-bottom: 25px;
      height: 50px;

      label {
        width: 155px;
        font-size: 18px;
      }
    }

    &__form-button {
      height: 50px;
      font-size: 20px;
    }

    &__fly-video {
      width: 284px;
      height: 160px;
    }

    &__wrap-info {
      padding-top: 114px;
      padding-bottom: 99px;
    }

    h3 {
      font-size: 90px;
    }

    h4 {
      font-size: 50px;
    }

    strong {
      margin-top: 35px;
      font-size: 18px;
    }

    &__form-button {
      font-size: 22px;
    }
  }
}

.page-header__title {
  width: 224px;
  height: 94px;
  background: rgb(243, 115, 33);
  background: linear-gradient(
    65deg,
    rgba(243, 115, 33, 1) 0%,
    rgba(229, 27, 78, 1) 53%
  );
  position: relative;
  margin-bottom: 40px;

  @include desktop {
    margin-left: -3%;
    margin-bottom: 62px;
  }
}

.page-header__text-image {
  @include desktop {
    position: absolute;
    top: 31px;
    left: 40px;
  }
}

.page-header__info {
  display: flex;
  flex-direction: column;
}

p.page-header__info-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  margin-bottom: 25px;
}

p.page-header__text {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 9px;
}

.page-header__info-wrap {
  width: 100%;

  @include desktop {
    width: 40%;
  }
}
