mixin slideshow
    .slideshow
        #slideshow-home.js-slideshow(data-uk-slideshow='animation: push; min-height: 300; max-height: 945')
            .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1')
                ul.uk-slideshow-items
                    li.vimeo-wrapper
                        img(src="img/land-sea.jpg" srcset="img/land-sea.jpg, img/land-sea@2x.jpg 2x" alt="")
                        iframe(src="https://player.vimeo.com/video/137296074?background=1" allow="autoplay; fullscreen" allowfullscreen)
                        .slideshow__caption
                            .container
                                .uk-overflow-hidden
                                    div(data-uk-scrollspy="cls: slideInLeft animated; delay: 1500; repeat: false;")
                                        div An exclusive coastal wedding venue in Cornwall
                        .slideshow__logos
                            div(class="uk-visible@s")
                                img(src="img/logo-white.png" srcset="img/logo-white.png, img/logo-white@2x.png 2x" alt="Polhawn Fort Logo" width="262" height="118")
                            div
                                img(src="img/land-meets-sea.svg" alt="Where land meets the sea" width="208" height="261")
                            div
                                img(src="img/swirl.png" srcset="img/swirl.png, img/swirl@2x.png 2x" alt="Polhawn Fort Icon Logo" width="46" height="45")
                    li.vimeo-wrapper
                        img(src="img/land-sea.jpg" srcset="img/land-sea.jpg, img/land-sea@2x.jpg 2x" alt="")
                        iframe(src="https://player.vimeo.com/video/137296074?background=1" allow="autoplay; fullscreen" allowfullscreen)
                        .slideshow__caption
                            .container
                                .uk-overflow-hidden
                                    div(data-uk-scrollspy="cls: slideInLeft animated; delay: 1500; repeat: false;")
                                        div An exclusive coastal wedding venue in Cornwall
                        .slideshow__logos
                            div(class="uk-visible@s")
                                img(src="img/logo-white.png" srcset="img/logo-white.png, img/logo-white@2x.png 2x" alt="Polhawn Fort Logo" width="262" height="118")
                            div
                                img(src="img/land-meets-sea.svg" alt="Where land meets the sea" width="208" height="261")
                            div
                                img(src="img/swirl.png" srcset="img/swirl.png, img/swirl@2x.png 2x" alt="Polhawn Fort Icon Logo" width="46" height="45")
                    li.vimeo-wrapper
                        img(src="img/land-sea.jpg" srcset="img/land-sea.jpg, img/land-sea@2x.jpg 2x" alt="")
                        iframe(src="https://player.vimeo.com/video/137296074?background=1" allow="autoplay; fullscreen" allowfullscreen)
                        .slideshow__caption
                            .container
                                .uk-overflow-hidden
                                    div(data-uk-scrollspy="cls: slideInLeft animated; delay: 1500; repeat: false;")
                                        div An exclusive coastal wedding venue in Cornwall
                        .slideshow__logos
                            div(class="uk-visible@s")
                                img(src="img/logo-white.png" srcset="img/logo-white.png, img/logo-white@2x.png 2x" alt="Polhawn Fort Logo" width="262" height="118")
                            div
                                img(src="img/land-meets-sea.svg" alt="Where land meets the sea" width="208" height="261")
                            div
                                img(src="img/swirl.png" srcset="img/swirl.png, img/swirl@2x.png 2x" alt="Polhawn Fort Icon Logo" width="46" height="45")
                    li.vimeo-wrapper
                        img(src="img/land-sea.jpg" srcset="img/land-sea.jpg, img/land-sea@2x.jpg 2x" alt="")
                        iframe(src="https://player.vimeo.com/video/137296074?background=1" allow="autoplay; fullscreen" allowfullscreen)
                        .slideshow__caption
                            .container
                                .uk-overflow-hidden
                                    div(data-uk-scrollspy="cls: slideInLeft animated; delay: 1500; repeat: false;")
                                        div An exclusive coastal wedding venue in Cornwall
                        .slideshow__logos
                            div(class="uk-visible@s")
                                img(src="img/logo-white.png" srcset="img/logo-white.png, img/logo-white@2x.png 2x" alt="Polhawn Fort Logo" width="262" height="118")
                            div
                                img(src="img/land-meets-sea.svg" alt="Where land meets the sea" width="208" height="261")
                            div
                                img(src="img/swirl.png" srcset="img/swirl.png, img/swirl@2x.png 2x" alt="Polhawn Fort Icon Logo" width="46" height="45")
                a(href='#' data-uk-slidenav-previous='' data-uk-slideshow-item='previous')
                a(href='#' data-uk-slidenav-next='' data-uk-slideshow-item='next')
                ol.uk-slideshow-nav.uk-dotnav
                .slideshow__counter
                    .slideshow__current
                    .slideshow__counter-divider
                    .slideshow__total

mixin slideshow-dream
    .slideshow.slideshow--image
        .js-slideshow(data-uk-slideshow='animation: push; min-height: 300; max-height: 1000')
            .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1')
                ul.uk-slideshow-items
                    li.vimeo-wrapper
                        img(src="img/dreams-bg.jpg" alt="Slideshow image")
                        .slideshow__caption
                            .container
                                .uk-overflow-hidden
                                    div(data-uk-scrollspy="cls: slideInLeft animated slow; delay: 1500; repeat: false;")
                                        div Its all starts with a feeling, then you know...
                        .slideshow__logos
                            div(class="uk-visible@s")
                                img(src="img/logo-white.png" srcset="img/logo-white.png, img/logo-white@2x.png 2x" alt="Polhawn Fort Logo" width="262" height="118")
                            div
                                img(src="img/the-dream.svg" alt="The dream" width="390" height="142")
                            div
                                img(src="img/swirl.png" srcset="img/swirl.png, img/swirl@2x.png 2x" alt="Polhawn Fort Icon Logo" width="46" height="45")
                    li.vimeo-wrapper
                        img(src="img/dreams-bg.jpg" alt="Slideshow image")
                        .slideshow__caption
                            .container
                                .uk-overflow-hidden
                                    div(data-uk-scrollspy="cls: slideInLeft animated slow; delay: 1500; repeat: false;")
                                        div Its all starts with a feeling, then you know...
                        .slideshow__logos
                            div(class="uk-visible@s")
                                img(src="img/logo-white.png" srcset="img/logo-white.png, img/logo-white@2x.png 2x" alt="Polhawn Fort Logo" width="262" height="118")
                            div
                                img(src="img/the-dream.svg" alt="The dream" width="390" height="142")
                            div
                                img(src="img/swirl.png" srcset="img/swirl.png, img/swirl@2x.png 2x" alt="Polhawn Fort Icon Logo" width="46" height="45")
                    li.vimeo-wrapper
                        img(src="img/dreams-bg.jpg" alt="Slideshow image")
                        .slideshow__caption
                            .container
                                .uk-overflow-hidden
                                    div(data-uk-scrollspy="cls: slideInLeft animated slow; delay: 1500; repeat: false;")
                                        div Its all starts with a feeling, then you know...
                        .slideshow__logos
                            div(class="uk-visible@s")
                                img(src="img/logo-white.png" srcset="img/logo-white.png, img/logo-white@2x.png 2x" alt="Polhawn Fort Logo" width="262" height="118")
                            div
                                img(src="img/the-dream.svg" alt="The dream" width="390" height="142")
                            div
                                img(src="img/swirl.png" srcset="img/swirl.png, img/swirl@2x.png 2x" alt="Polhawn Fort Icon Logo" width="46" height="45")
                    li.vimeo-wrapper
                        img(src="img/dreams-bg.jpg" alt="Slideshow image")
                        .slideshow__caption
                            .container
                                .uk-overflow-hidden
                                    div(data-uk-scrollspy="cls: slideInLeft animated slow; delay: 1500; repeat: false;")
                                        div Its all starts with a feeling, then you know...
                        .slideshow__logos
                            div(class="uk-visible@s")
                                img(src="img/logo-white.png" srcset="img/logo-white.png, img/logo-white@2x.png 2x" alt="Polhawn Fort Logo" width="262" height="118")
                            div
                                img(src="img/the-dream.svg" alt="The dream" width="390" height="142")
                            div
                                img(src="img/swirl.png" srcset="img/swirl.png, img/swirl@2x.png 2x" alt="Polhawn Fort Icon Logo" width="46" height="45")
                a(href='#' data-uk-slidenav-previous='' data-uk-slideshow-item='previous')
                a(href='#' data-uk-slidenav-next='' data-uk-slideshow-item='next')
                ol.uk-slideshow-nav.uk-dotnav
                .slideshow__counter
                    .slideshow__current
                    .slideshow__counter-divider
                    .slideshow__total

mixin slideshow-idos
    .slideshow.slideshow--image
        .js-slideshow(data-uk-slideshow='animation: push; min-height: 300; max-height: 945')
            .uk-position-relative.uk-visible-toggle.uk-light(tabindex='-1')
                ul.uk-slideshow-items
                    li.vimeo-wrapper
                        img(src="img/idos.jpg" srcset="img/idos.jpg, img/idos@2x.jpg 2x" alt="")
                        .slideshow__caption
                            .container
                                .uk-overflow-hidden
                                    div(data-uk-scrollspy="cls: slideInLeft animated slow; delay: 1500; repeat: false;")
                                        div Its all starts with a feeling, then you know...
                        .slideshow__logos
                            div(class="uk-visible@s")
                                img(src="img/logo-white.png" srcset="img/logo-white.png, img/logo-white@2x.png 2x" alt="Polhawn Fort Logo" width="262" height="118")
                            div
                                img(src="img/the-i-do-s.png" srcset="img/the-i-do-s.png, img/the-i-do-s@2x.png 2x" alt="Polhawn Fort Logo" width="505" height="157")
                            div
                                img(src="img/swirl.png" srcset="img/swirl.png, img/swirl@2x.png 2x" alt="Polhawn Fort Icon Logo" width="46" height="45")
                    li.vimeo-wrapper
                        img(src="img/idos.jpg" srcset="img/idos.jpg, img/idos@2x.jpg 2x" alt="")
                        .slideshow__caption
                            .container
                                .uk-overflow-hidden
                                    div(data-uk-scrollspy="cls: slideInLeft animated slow; delay: 1500; repeat: false;")
                                        div Its all starts with a feeling, then you know...
                        .slideshow__logos
                            div(class="uk-visible@s")
                                img(src="img/logo-white.png" srcset="img/logo-white.png, img/logo-white@2x.png 2x" alt="Polhawn Fort Logo" width="262" height="118")
                            div
                                img(src="img/the-i-do-s.png" srcset="img/the-i-do-s.png, img/the-i-do-s@2x.png 2x" alt="Polhawn Fort Logo" width="505" height="157")
                            div
                                img(src="img/swirl.png" srcset="img/swirl.png, img/swirl@2x.png 2x" alt="Polhawn Fort Icon Logo" width="46" height="45")
                    li.vimeo-wrapper
                        img(src="img/idos.jpg" srcset="img/idos.jpg, img/idos@2x.jpg 2x" alt="")
                        .slideshow__caption
                            .container
                                .uk-overflow-hidden
                                    div(data-uk-scrollspy="cls: slideInLeft animated slow; delay: 1500; repeat: false;")
                                        div Its all starts with a feeling, then you know...
                        .slideshow__logos
                            div(class="uk-visible@s")
                                img(src="img/logo-white.png" srcset="img/logo-white.png, img/logo-white@2x.png 2x" alt="Polhawn Fort Logo" width="262" height="118")
                            div
                                img(src="img/the-i-do-s.png" srcset="img/the-i-do-s.png, img/the-i-do-s@2x.png 2x" alt="Polhawn Fort Logo" width="505" height="157")
                            div
                                img(src="img/swirl.png" srcset="img/swirl.png, img/swirl@2x.png 2x" alt="Polhawn Fort Icon Logo" width="46" height="45")
                    li.vimeo-wrapper
                        img(src="img/idos.jpg" srcset="img/idos.jpg, img/idos@2x.jpg 2x" alt="")
                        .slideshow__caption
                            .container
                                .uk-overflow-hidden
                                    div(data-uk-scrollspy="cls: slideInLeft animated slow; delay: 1500; repeat: false;")
                                        div Its all starts with a feeling, then you know...
                        .slideshow__logos
                            div(class="uk-visible@s")
                                img(src="img/logo-white.png" srcset="img/logo-white.png, img/logo-white@2x.png 2x" alt="Polhawn Fort Logo" width="262" height="118")
                            div
                                img(src="img/the-i-do-s.png" srcset="img/the-i-do-s.png, img/the-i-do-s@2x.png 2x" alt="Polhawn Fort Logo" width="505" height="157")
                            div
                                img(src="img/swirl.png" srcset="img/swirl.png, img/swirl@2x.png 2x" alt="Polhawn Fort Icon Logo" width="46" height="45")
                a(href='#' data-uk-slidenav-previous='' data-uk-slideshow-item='previous')
                a(href='#' data-uk-slidenav-next='' data-uk-slideshow-item='next')
                ol.uk-slideshow-nav.uk-dotnav
                .slideshow__counter
                    .slideshow__current
                    .slideshow__counter-divider
                    .slideshow__total
