mixin logo
    a(href="/").logo
        img(src="./img/logo.svg" alt="Logo" width="193" height="41")

mixin logo-inverse
    a(href="/").logo-inverse
        img(src="./img/logo-inverse.svg" alt="Logo" width="193" height="41")

mixin logo-full-inverse
    a(href="/").logo-full-inverse
        img(src="./img/logo-full-inverse.svg" alt="Logo" width="193" height="41")