mixin thanks(srcBack, text)
    .thanks
        .thanks__background
            img(src=srcBack, alt="")

        .thanks__content
            h1 #{text}

            .thanks__illustration
                img(src="img/request-x.png", alt="")

            .thanks__swirl
                img(src="img/swirl.png", alt="")