.app {
  height: 100%;
}

.container {
  min-width: 320px;
  max-width: 860px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.full-height {
  height: 100%;
}
