.background-default {
  background-color: $color-white;
}

.background-primary {
  background-color: $color-primary;
}

.background-secondary {
  background-color: $color-secondary;
}

.background-split {
  background-image: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.7) 50%,
    transparent 50%,
    transparent 100%
  );
}
