.container {
  max-width: 1440px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;

  @include desktop-l {
    padding-right: 70px;
    padding-left: 70px;
  }
}
