.social {
  display: flex;

  a {
    font-size: 18px;
    color: $color-white;

    @include tablet-large {
      font-size: 14px;
    }

    &:hover,
    &:focus,
    &:active {
      color: $color-primary;
    }
  }

  li {
    &:not(:last-child) {
      margin-right: 28px;

      @include tablet-large {
        margin-right: 20px;
      }
    }
  }
}
