.product-standards {
  background-color: $color-darkgrey;
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  padding: 20px 26px 20px 26px;

  @include tablet-large {
    padding: 82px 110px 82px 110px;
  }
}

.product-standard {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;

  @include tablet-large {
    width: 120px;
    height: 120px;
  }
}
