.tabs {
  display: flex;

  .tab-button {
    padding: 0;

    &.is-active {
      border-radius: 20px;
      background-color: $color-darkgrey;

      h3 {
        color: $title-color;
      }
    }
  }
}

.tab-content > div:only-child {
  .product-tabs-content {
    border-radius: 10px;
  }
}

[data-tab-content] {
  display: none;

  &.is-active {
    display: block;
  }
}
