*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  position: relative;
  overflow-x: hidden;
  min-height: 100vh;
  box-sizing: border-box;
  font-weight: $font-weight;
  font-size: $font-size;
  line-height: $line-height;
}

body {
  -webkit-font-smoothing: antialiased;
  text-decoration-skip: objects;
  text-rendering: optimizeLegibility;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: $font-primary;
  letter-spacing: 1px;
}

main {
  background-color: $color-white;
}

svg {
  display: block;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: auto;
  width: 100%;
  height: 100%;
  fill: currentColor;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  letter-spacing: inherit;
  padding: 0;
}

.page-wrapper {
  padding-top: 135px;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
}
