.is-hidden {
  // stylelint-disable-next-line declaration-no-important
  display: none !important;
}

.is-hide {
  // stylelint-disable-next-line declaration-no-important
  opacity: 0;
}

.for-desktop {
  @include devices {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}

.for-tablet {
  @include desktop {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }

  @include mobile {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}

.for-mobile {
  @include desktop {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }

  @include tablet {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}

.for-devices {
  @include desktop {
    // stylelint-disable-next-line declaration-no-important
    display: none !important;
  }
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}
