.accordion {
  &.is-open {
    .accordion__content {
      display: block;
    }
  }
}

.accordion__toggle {
  display: flex;
  background: none;
  border: 1px solid #000;

  &[aria-expanded="false"] {
    .accordion__toggle-opened {
      display: none;
    }
  }

  &[aria-expanded="true"] {
    .accordion__toggle-closed {
      display: none;
    }
  }
}
