mixin social()
    +b('ul').social
        +e.item
            +e('a').link(href="#")
                +svg('facebook')
        +e.item
            +e('a').link(href="#")
                +svg('instagram')
        +e.item
            +e('a').link(href="#")
                +svg('whatsapp')