mixin section-social
    section.section-social
        .container(data-uk-scrollspy="cls: fadeInUp animated slow; repeat: false;")
            .section-detail.section-detail--social.uk-margin-auto-right.uk-margin-auto-left
                h2 Lets be
                h3 Social