.font-regular() {
    font-weight: normal;
    font-style: normal;
}

.font-bold() {
    font-weight: bold;
    font-style: normal;
}

.font-semibold() {
    font-weight: 600;
    font-style: normal;
}

.font-medium() {
    font-weight: 500;
    font-style: normal;
}

.font-heavy-italic() {
    font-weight: 900;
    font-style: italic;
}

.font-heavy() {
    font-weight: 900;
    font-style: normal;
}

.font-light() {
    font-weight: 300;
    font-style: normal;
}